$inferno-array: #000004, #160b39, #420a68, #6a176e, #932667, #ba3655, #dd513a,
	#f3761b, #fca50a, #f6d746, #f6d746;
$rainbow-array: #6e40aa, #be3caf, #fe4b83, #ff7747, #e3b62f, #b0ef5a, #53f666,
	#1edfa2, #23acd8, #4c6fdc, #4c6fdc;
$spectral-array: #9e0142, #d13b4b, #f0704a, #fcab63, #fedc8c, #fbf8b0, #e0f3a1,
	#aadda2, #69bda9, #4288b5, #4288b5;

$color-array: $inferno-array;

// Canvas ================================================================================
.canvas-wrapper {
	position: relative;
	padding-bottom: 100%;
	background: linear-gradient($light_black, $black);
	cursor: move;
	cursor: grab;

	&:active {
		cursor: grabbing;
	}

	@media (min-width: $tablet) {
		padding-bottom: 50%;
	}

	@media (min-width: $desktop) {
		padding-bottom: 0;
		height: 70vh;
		border-radius: var(--radius-large);
	}

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

// Scale =================================================================================
.intensity-container {
	@extend %no-select;

	display: inline-block;
	font-size: 0.8em;
	position: absolute;
	bottom: 0;
	right: 0;
	text-align: right;
	color: $white;
}

.intensity-bar {
	height: 0.25em;
	width: 7em;
	background: red;
	background-image: linear-gradient(90deg, $inferno-array);
}

.intensity-label {
	display: flex;
	justify-content: space-between;
}

// Data sets =============================================================================
.data-sets {
	list-style: none;
	margin: 0;
}

.data-set {
	display: flex;
	align-items: center;
	border-top: thin solid $light_gray;
	background: $white;
	overflow: hidden;

	&.is-running {
		background: $light_gray;
	}

	&:last-child {
		border-bottom: thin solid $light_gray;
	}

	@media (min-width: $tablet) {
		display: inline-block;
		vertical-align: top;
		width: 15em;
		margin: var(--medium) var(--medium) 0 0;
		padding: var(--large);
		border: thin solid $light_gray;
		border-radius: var(--radius);
	}
}

.data-set-title {
	flex: 1;
	font-weight: 400;
}

.data-set-run {
	@extend %no-select;
	padding: var(--medium) var(--large);
	border: 0;
	border-radius: var(--radius);
	font-weight: 600;
	cursor: pointer;
	transition: background-color var(--transition);

	&:hover {
		transition-duration: var(--transition-hover);
	}

	&:active {
		transition-duration: 0s;
	}

	.is-running & {
		&,
		&:hover {
			@include gradient(#222);
			color: rgba($white, 0.5);
			pointer-events: none;
		}
		&:after {
			content: "ning";
		}
	}

	@media (min-width: $tablet) {
		padding: var(--small) var(--medium);
		margin-top: var(--medium);
		float: right;
	}
}
