include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Resources for Patients")
body.care-page.resources-for-patients-page
	+header()
	section.page-hero
			.container
				h1 Resources for Patients
	main.page-content
		section
			.container
	+footer()