include ../../_partials/_head
include ../../_partials/_header
include ../../_partials/_svg
include ../../_partials/_icon
include ../../_partials/_footer

+head("Success")
body.discover-page
	+header()
	section.page-hero
		.container
			h1 Upload Audio
	main.page-content
		section
			.container
				h2 Successful Audio Upload 
				p Your audio upload has been received. Thank you.
	+footer()