include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Care | The Open Brain Project", "Connecting patients who have questions to answers, students to educational resources, and scientists to the latest tools for advancing knowledge and care.")
body.care
	+header()
	main
		section.page-hero.green-gradient
			.container
				h1 Care
				p Connecting patients who have questions about a recent diagnosis to answers, students to educational resources, and scientists and clinicians to the latest tools for advancing knowledge and patient care.
		section.resources-for-patients-section
			.container
				h2 Resources for Patients
		section.explore-the-human-brain-section
			.container
				h2 Explore the Human Brain
	
	+footer()
			


