include ../../_partials/_head
include ../../_partials/_header
include ../../_partials/_svg
include ../../_partials/_icon
include ../../_partials/_footer

+head("Successful submission")
body.join-page.join-as-a-patient-page
	+header()
	section.page-hero
		.container
			h1 Join as a Patient
	main.page-content
		section
			.container
				h2 Successful Application 
				p Your submission has been received.
	+footer()