include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Brain Mapping during Neurosurgery")
body.translate-page.brain-mapping-during-neurosurgery-page
	+header()
	section.page-hero
			.container
				h1 Brain Mapping during Neurosurgery
	main.page-content
		section
			.container
	+footer()