include ./partials/_head
include ./partials/_header
include ./partials/_toggle
include ./partials/_footer

+head()
body
	h1 hello!
	.wrapper
		.canvas-wrapper



script(src="js/three.min.js")
script(src="js/OrbitControls.min.js")
script(src="js/GLTFLoader.min.js")
script(src="js/WebGL.min.js")
script(src="js/tbi.js")