include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Brain Survey")
body.discover-page.brain-survey-page
	+header()
	section.page-hero
			.container
				h1 Brain Survey
	main.page-content
		section
			.container
	+footer()