include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Brain Survey")
body.discover-page.brainsurvey-page
	.bs-page-wrapper
		+header()
		main.bs-wrapper
			.bs-brain-wrapper
			.bs-side-wrapper
				.bs-box
					.container
						h2 Brain Survey
				.bs-box
					details(open)
						summary.container
							h3 Regions
						.bs-box-content.container
							h4 Search
							label.bs-search-wrapper
								input.bs-search-input(type="text", placeholder="Search brain regions...", spellcheck="false")
								+icon("search")
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
				.bs-box
					details(open)
						summary.container
							h3 Tools
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
						.bs-box-content.container
							h4 Display
							label.bs-toggle
								input(type="checkbox")
								| Display Left Hemisphere
							label.bs-toggle
								input(type="checkbox")
								| Display Right Hemisphere
				.bs-box
					details(open)
						summary.container
							h3 Settings
						.bs-box-content.container
							label.bs-toggle
								input(type="checkbox")
								| Orbit
							label.bs-toggle
								input(type="checkbox")
								| Fullscreen
				.bs-box.bs-copyright
					.container
						small &copy; 2019 Brad Mahon of BrainSurvey, LLC &bull; <a href="https://github.com/bennettfeely/openbrainproject">GitHub</a>
	+footer()