include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Brain Survey")
body.discover-page.brainsurvey-page
	.bs-page-wrapper
		+header()
		main.bs-wrapper
			.bs-brain-wrapper
			.bs-side-wrapper
				.container.bs-title
						h2 Brain Survey
				.bs-tools
					details
						summary.container
							h3 Tools
						.container
							p Hello there
				.bs-settings
					details
						summary.container
							h3 Settings
						.container
							p Hello there
	+footer()