include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Scientific Products | The Open Brain Project", "Opening new frontiers in understanding human brain structure and function.")
body.scientific-products-page
	+header()
	section.page-hero
		.container
			h1 Scientific Products
	main.page-content
		section
			.container
	+footer()