include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Brain Mapping with MRI")
body.translate-page.brain-mapping-with-mri-page
	+header()
	section.page-hero
			.container
				h1 Brain Mapping with MRI
	main.page-content
		section
			.container
	+footer()