include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Publications")
body.publications-page
	+header()
	main
		section.page-hero
			.container
				h1 Publications
				p <a href="/join"><svg class="icon icon-join"><use xlink:href="#join"></use></svg>Join the Open Brain Project</a> to receive information about how to post popular press coverage relevant to the mission of the Open Brain Project.
				p.filter-publications
					| Filter publications related to:
					.filters-list
						button.filter-button(data-filter="brain-tumor")
							| Brain Tumor
							+icon("close")
						button.filter-button(data-filter="stroke")
							| Stroke
							+icon("close")
						//- button.filter-button(data-filter="tbi")
						//- 	| TBI
						//- 	+icon("close")
						button.filter-button(data-filter="craniotomy")
							| Craniotomy
							+icon("close")
						button.filter-button(data-filter="tdcs")
							| tDCS
							+icon("close")
						button.filter-button(data-filter="vision")
							| Vision
							+icon("close")
						button.filter-button(data-filter="language")
							| Language
							+icon("close")
						//- button.filter-button(data-filter="action")
						//- 	| Action
						//- 	+icon("close")
		main.page-content
			section
				.container
					h2 Research Articles
					ul.publications-list
						li.stroke-pub.vision-pub
							:marked
								Schneider CL, Prentiss EK, Busza A, Matmati K, Matmati N, Williams ZR, Sahin B, Mahon BZ. 2019 Survival of retinal ganglion cells after damage to the occipital lobe in humans is activity dependent. *Proc. R. Soc. B 286: 20182733.* [[pdf]](https://urldefense.proofpoint.com/v2/url?u=https-3A__www.cmu.edu_dietrich_psychology_caoslab_pdf_Schneider-2520et-2520al.-5FRSPB-5F2019.pdf&d=DwMDaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=TAQHLsQ3QdWAO1nQ9Yo9NlTO9d-Jr_KEGxWlR5koMsFYLrYE9Bswi7JEFqA29aEK&m=C1top5wUEer2j1A4o51Rw9k-Yr3k3TbZC6lH67nfCGE&s=OKpoN_IclMtVN7PtmOpk3Sohs0VJGKWlLHZuWGuAf_w&e=) Supplemental Materials [pdf].
						li.stroke-pub.vision-pub
							:marked
								Busza, A. & Schneider, C. & L. R., Z. & Mahon, B. Z., & Sahin, B. (2019). Using Vision to Study Poststroke Recovery and Test Hypotheses About Neurorehabilitation. *Neurorehabilitation and Neural Repair*, 33(2), 87–95. [[pdf]](https://urldefense.proofpoint.com/v2/url?u=https-3A__www.cmu.edu_dietrich_psychology_caoslab_pdf_Busza-2520et-2520al.-5FNNR-5F2019.pdf&d=DwMDaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=TAQHLsQ3QdWAO1nQ9Yo9NlTO9d-Jr_KEGxWlR5koMsFYLrYE9Bswi7JEFqA29aEK&m=C1top5wUEer2j1A4o51Rw9k-Yr3k3TbZC6lH67nfCGE&s=ErNTZeU15foSsNltwEU574RvTRvwpjquSwf1AZU2xA8&e=)
						li.brain-tumor-pub.craniotomy-pub.language-pub
							:marked
								Chernoff, B.L., Teghipco, A., Garcea, F.E., Sims, M. H., Paul, D.A., Tivarus, M.E., Smith, S.O., Pilcher, W.H., & Mahon, B.Z. (2018). A Role for the Frontal Aslant Tract in Speech Planning: A Neurosurgical Case Study. *Journal of Cognitive Neuroscience*, 30(5), 1-18.
						li.brain-tumor-pub.craniotomy-pub.language-pub
							:marked
								Garcea, F.E., Chernoff, B.L., Diamond, B., Lewis, W., Sims, M.H., Tomlinson, S.B., Teghipco, A., Belkhir, R., Gannon, S.B., Erickson, S., Smith, S.O., Stone, J., Liu, L., Tollefson, T., Langfitt, J., Marvin, E., Pilcher, W.H., & Mahon, B.Z. (2017). Direct electrical stimulation in the human brain disrupts melody processing. *Current Biology, 27*, 2684-2691.
						li.stroke-pub.vision-pub.language-pub
							:marked
								Stasenko, A., Garcea, F.E., Dombovy, M., & Mahon, B.Z. (2014). When concepts lose their color: A case of object color knowledge impairment. *Cortex, 58*, 217-238. [[pdf]](https://urldefense.proofpoint.com/v2/url?u=https-3A__www.cmu.edu_dietrich_psychology_caoslab_pdf_Stasenko-2520et-2520al.-5FCortex-5F2014.pdf&d=DwMDaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=TAQHLsQ3QdWAO1nQ9Yo9NlTO9d-Jr_KEGxWlR5koMsFYLrYE9Bswi7JEFqA29aEK&m=C1top5wUEer2j1A4o51Rw9k-Yr3k3TbZC6lH67nfCGE&s=iaI99cFkHWY0BdoZ9l79BLmFZYtJzzsbizBgD1qXdEA&e=) Supplemental Materials [[pdf]](https://urldefense.proofpoint.com/v2/url?u=https-3A__www.cmu.edu_dietrich_psychology_caoslab_pdf_StasenkoColleagues-5FCortex-5FSupplementalMaterials.pdf&d=DwMDaQ&c=4sF48jRmVAe_CH-k9mXYXEGfSnM3bY53YSKuLUQRxhA&r=TAQHLsQ3QdWAO1nQ9Yo9NlTO9d-Jr_KEGxWlR5koMsFYLrYE9Bswi7JEFqA29aEK&m=C1top5wUEer2j1A4o51Rw9k-Yr3k3TbZC6lH67nfCGE&s=4I6D4vjd8X8PbBDlKz6BB0ecvFehtWR9c1lqEz7ZbRg&e=)
						li.brain-tumor-pub.craniotomy-pub.language-pub
							:marked
								Chernoff, B.L., Sims, M.H., Garcea, Smith, S.O., Pilcher, W.H., & Mahon, B.Z. (2019). Direct Electrical Stimulation of the Left Frontal Aslant Tract Disrupts Sentence Planning Without Affecting Articulation *Cognitive Neuropsychology*, 1-15. [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Chernoff%20et%20al._Cognitive%20Neuropsychology_2019.pdf). Supplemental Online Video Showing Intra-Operative Mapping [[pdf]](https://www.youtube.com/watch?v=bNOtxXxhYHE&feature=youtu.be)
						li.brain-tumor-pub.craniotomy-pub.vision-pub
							:marked
								Garcea, F.E., Almeida, J., Sims, M., Nunno, A., Meyers, S.P., Li, Y.M., Walter, K., Pilcher, W.H., & Mahon, B.Z. (2018). Domain-Specific Diaschisis: Lesions to Parietal Action Areas Modulate Neural Responses to Tools in the Ventral Stream. *Cerebral Cortex*. [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Garcea%20et%20al._Cerebral%20Cortex_2018.pdf). Supplemental Materials [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Garcea%20et%20al._Cerebral%20Cortex_2018_SOM.pdf)
						li.stroke-pub.vision-pub.action-pub
							:marked
								Negri, G.A.L., Rumiati, R.I., Zadini, A., Ukmar, M., Mahon, B.Z., & Caramazza, A. (2007). What is the Role of Motor Simulation in Action & Object Recognition? Evidence from Apraxia. *Cognitive Neuropsychology*, 24, 795-816. [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Negri%20et%20al._Cognitive%20Neuropsychology_2007.pdf) 
						li.stroke-pub.vision-pub.action-pub
							:marked
								Mahon, B.Z., Milleville, S., Negri, G.A.L., Rumiati, R.I., Caramazza, A, & Martin, A. (2007). Action-related properties of objects shape object representations in the ventral stream. *Neuron*, 55, 3, 507-520. [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Mahon%20et%20al._Neuron_2007.pdf) Supplemental Materials [[pdf]](https://www.cmu.edu/dietrich/psychology/caoslab/pdf/Mahon_Neuron_Sup-Data.pdf)
						li.stroke-pub.vision-pub.action-pub
							:marked
								*Visual and visuomotor processing of hands and tools as a case study of cross talk between the dorsal and ventral streams*. J Almeida, L Amaral, FE Garcea, D Aguiar de Sousa, S Xu, BZ Mahon, ... *Cognitive neuropsychology* 35 (5-6), 288-303 
						li.stroke-pub.vision-pub
							:marked
								*Connectivity of the ventral visual cortex is necessary for object recognition in patients*. Y Li, Y Fang, X Wang, L Song, R Huang, Z Han, G Gong, Y Bi. _Human brain mapping_ 39 (7), 2786-2799
						li.stroke-pub.vision-pub.language-pub.action-pub
							:marked
								*Semantic representation in the white matter pathway*. Y Fang, X Wang, S Zhong, L Song, Z Han, G Gong, Y Bi. _PLoS biology_ 16 (4), e2003993
						li.stroke-pub.vision-pub.language-pub.action-pub
							:marked
								*Brain hubs in lesion models: Predicting functional network topology with lesion patterns in patients*. B Yuan, Y Fang, Z Han, L Song, Y He, Y Bi. _Scientific reports_ 7 (1), 17908
						li.stroke-pub.language-pub.action-pub
							:marked
								*Dissociable intrinsic functional networks support noun-object and verb-action processing*. H Yang, Q Lin, Z Han, H Li, L Song, L Chen, Y He, Y Bi. _Brain and language_ 175, 29-41 
						li.stroke-pub.language-pub
							:marked
								*White matter pathway supporting phonological encoding in speech production: a multi-modal imaging study of brain damage patients*. Z Han, Y Ma, G Gong, R Huang, L Song, Y Bi. _Brain Structure and Function_ 221 (1), 577-589 
						li.stroke-pub.language-pub
							:marked
								*White matter structural connectivity underlying semantic processing: evidence from brain damaged patients*. Z Han, Y Ma, G Gong, Y He, A Caramazza, Y Bi. _Brain_ 136 (10), 2952-2965 
						li.stroke-pub.language-pub
							:marked
								Nozari, N. (in press). *[The dual origin of errors in access deficit: activation vs. inhibition deficit.](http://nazbanou.net/files/Nozari2019CN.pdf) Cognitive Neuropsychology.*
						li.stroke-pub.language-pub
							:marked
								*Nozari, N. & Faroqi-Shah, Y. (2017). [Investigating the origin of nonfluency in aphasia: A path modeling approach to neuropsychology.](http://nazbanou.net/files/NozariFaroqi2017.pdf) Cortex, 95, 119-135. doi: 10.1016/j.cortex.2017.08.003*
						li.stroke-pub.language-pub
							:marked
								*Akhavan, N., Goksun, T. & Nozari, N. (accepted). [Integrity and function of gestures in aphasia](http://nazbanou.net/files/AkhavanGoksunNozari2017.pdf) Aphasiology.*
						li.tdcs-pub
							:marked
								*Nozari, N., Woodard, K., & Thompson-Schill, S. L. (2014). [Consequences of cathodal stimulation for behavior: when does it help and when does it hurt performance?](http://www.ncbi.nlm.nih.gov/pubmed/24409291) PloS one, 9(1), e84338.*
						li.tdcs-pub.language-pub
							:marked
								*Nozari, N., Arnold, J. E., & Thompson-Schill, S. L. (2014). [The effects of anodal stimulation of the left prefrontal cortex on sentence production.](http://www.ncbi.nlm.nih.gov/pubmed/25129401) Brain Stimulation, 7(6), 784–792.*
						li.tdcs-pub.vision-pub.action-pub
							:marked
								*Action at a distance on object–related ventral temporal representations*. D Lee, BZ Mahon, J. Almeida. *Cortex*. 
						li.craniotomy-pub.vision-pub
							:marked
								Liu TT, Freud E, Patterson C, Behrmann M. Perceptual function and category-selective neural organization in children with resections of visual cortex. J Neurosci. 2019 Jun 5. pii: 3160-18. doi: [10.1523/JNEUROSCI.3160-18.2019](https://doi.org/10.1523/JNEUROSCI.3160-18.2019). [Epub ahead of print]
						li.craniotomy-pub.vision-pub
							:marked
								Liu, T., Nestor, A., Vida, M. D., Pyles, J. A., Patterson, C., Yang, Y., Yang, F. N., Freud, E., Behrmann, M. (2018). Successful Reorganization of Category-Selective Visual Cortex following Occipito-temporal Lobectomy in Childhood. Cell Repots 24:1113-1122. doi: 10.1016/j.celrep.2018.06.099. [[pdf]](https://www.cmu.edu/dietrich/behrmannlab/Publications/CellReports_longitudinal.pdf) 
						li.craniotomy-pub.stroke-pub.vision-pub
							:marked
								Liu, T. T. and Behrmann, M. (2017). Functional outcomes in patients with lesions in visual cortex: Implications for developmental
						li.tdcs-pub.language-pub
							:marked
								*Could tDCS Modulate Bilingual Reading?* S Bhattacharjee, A Chew, R Kashyap, C Wu, M Yeo, B O’Brien, B Rapp, ... Brain Stimulation: Basic, Translational, and Clinical Research in ...
						li.stroke-pub.language-pub
							:marked
								*The effects of lesion and treatment-related recovery on functional network modularity in post-stroke dysgraphia*. Y Tao, B Rapp. _NeuroImage_: Clinical 23, 101865
						li.craniotomy-pub.language-pub
							:marked
								*Language processing from the perspective of electrical stimulation mapping*. A Rofes, E Mandonnet, V de Aguiar, B Rapp, K Tsapkini, G Miceli. *Cognitive Neuropsychology*, 1-23
						li.tdcs-pub.language-pub
							:marked
								*Electrical brain stimulation in different variants of primary progressive aphasia: A randomized clinical trial*. K Tsapkini, KT Webster, BN Ficek, JE Desmond, CU Onyike, B Rapp, ... Alzheimer's & Dementia: Translational Research & Clinical Interventions 4 ...
						li.tdcs-pub.language-pub
							:marked
								*Transcranial direct current stimulation in primary progressive aphasia: Whom does it help?* K Tsapkini, K Webster, BN Ficek, J Desmond, C Onyike, B Rapp, ... Brain Stimulation: Basic, Translational, and Clinical Research in ...
						li.stroke-pub.language-pub
							:marked
								*The analysis of perseverations in acquired dysgraphia reveals the internal structure of orthographic representations*. S Fischer-Baum, B Rapp. *Cognitive Neuropsychology*. 31 (3), 237-265
	+footer()