include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Publications")
body.publications-page
	+header()
	main
		section.page-hero
			.container
				h1 Publications
				p.filter-publications
					| Filter publications related to:
					button.filter-button.stroke-filter
						| Stroke
						+icon("close")
					button.filter-button.brain-tumor-filter
						| Brain Tumor
						+icon("close")
					button.filter-button.tbi-filter
						| TBI
						+icon("close")
		main.page-content
			section
				.container
					h2 Research Articles
					ul
						:marked
							* Akhavan, N., Göksun, T., & Nozari, N. (2018). Integrity and function of gestures in aphasia. *Aphasiology*, 32(11), 1310–1335. [[PDF]](https://doi.org/10.1080/02687038.2017.1396573)
							* Almeida, J., Amaral, L., Garcea, F. E., Aguiar de Sousa, D., Xu, S., Mahon, B. Z., & Martins, I. P. (2018). Visual and visuomotor processing of hands and tools as a case study of cross talk between the dorsal and ventral streams. *Cognitive Neuropsychology*, 35(5–6), 288–303. [[PDF]](https://doi.org/10.1080/02643294.2018.1463980)
							* Bhattacharjee, S., Chew, A., Kashyap, R., Wu, C., Yeo, M., O’Brien, B., … Chen, S. (2019). Could tDCS Modulate Bilingual Reading? *Brain Stimulation*. [[PDF]](https://doi.org/10.1016/j.brs.2018.12.885)
							* Busza, A., Schneider, C. L., Williams, Z. R., Mahon, B. Z., & Sahin, B. (2019). Using Vision to Study Poststroke Recovery and Test Hypotheses About Neurorehabilitation. *Neurorehabilitation and Neural Repair*, 33(2), 87–95. [[PDF]](https://doi.org/10.1177/1545968319827569)
							* Chernoff, B. L., Sims, M. H., Smith, S. O., Pilcher, W. H., & Mahon, B. Z. (2019). Direct electrical stimulation of the left frontal aslant tract disrupts sentence planning without affecting articulation. Cognitive Neuropsychology, 1–15. [[PDF]](https://doi.org/10.1080/02643294.2019.1619544)
							* Chernoff, B. L., Teghipco, A., Garcea, F. E., Sims, M. H., Paul, D. A., Tivarus, M. E., … Mahon, B. Z. (2018). A Role for the Frontal Aslant Tract in Speech Planning: A Neurosurgical Case Study. *Journal of Cognitive Neuroscience*, 30(5), 752–769. [[PDF]](https://doi.org/10.1162/jocn_a_01244)
							* Fang, Y., Wang, X., Zhong, S., Song, L., Han, Z., Gong, G., & Bi, Y. (2018). Semantic representation in the white matter pathway. *PLoS Biology*, 16(4), 1–21. [[PDF]](https://doi.org/10.1371/journal.pbio.2003993)
							* Fischer-Baum, S., & Rapp, B. (2014). The analysis of perseverations in acquired dysgraphia reveals the internal structure of orthographic representations. *Cognitive Neuropsychology*, 31(3), 237–265. [[PDF]](https://doi.org/10.1080/02643294.2014.880676)
							* Garcea, F. E., Almeida, J., Sims, M. H., Nunno, A., Meyers, S. P., Li, Y. M., … Mahon, B. Z. (2018). Domain-Specific Diaschisis: Lesions to Parietal Action Areas Modulate Neural Responses to Tools in the Ventral Stream. *Cerebral Cortex*, 1–14. [[PDF]](https://doi.org/10.1093/cercor/bhy183)
							* Garcea, F. E., Chernoff, B. L., Diamond, B., Lewis, W., Sims, M. H., Tomlinson, S. B., ... Mahon, B. Z. (2017). Direct Electrical Stimulation in the Human Brain Disrupts Melody Processing. *Current Biology*, 27(17), 2684–2691.e7. [[PDF]](https://doi.org/10.1016/j.cub.2017.07.051)
							* Han, Z., Ma, Y., Gong, G., He, Y., Caramazza, A., & Bi, Y. (2013). White matter structural connectivity underlying semantic processing: Evidence from brain damaged patients. *Brain*, 136(10), 2952–2965. [[PDF]](https://doi.org/10.1093/brain/awt205)
							* Han, Z., Ma, Y., Gong, G., Huang, R., Song, L., & Bi, Y. (2016). White matter pathway supporting phonological encoding in speech production: a multi-modal imaging study of brain damage patients. *Brain Structure and Function*, 221(1), 577–589. [[PDF]](https://doi.org/10.1007/s00429-014-0926-2)
							* Lee, D., Mahon, B. Z., & Almeida, J. (2019). Action at a distance on object-related ventral temporal representations. *Cortex*, 117, 157–167. [[PDF]](https://doi.org/10.1016/j.cortex.2019.02.018)
							* Li, Y., Fang, Y., Wang, X., Song, L., Huang, R., Han, Z., … Bi, Y. (2018). Connectivity of the ventral visual cortex is necessary for object recognition in patients. *Human Brain Mapping*, 39(7), 2786–2799. [[PDF]](https://doi.org/10.1002/hbm.24040)
							* Liu, T. T., & Behrmann, M. (2017). Functional outcomes following lesions in visual cortex: Implications for plasticity of high-level vision. *Neuropsychologia*, 105, 197–214. [[PDF]](https://doi.org/10.1016/j.neuropsychologia.2017.06.030)
							* Liu, T. T., Freud, E., Patterson, C., & Behrmann, M. (2019). Perceptual function and category-selective neural organization in children with resections of visual cortex. *The Journal of Neuroscience*, 3160–18. [[PDF]](https://doi.org/10.1523/jneurosci.3160-18.2019)
							* Liu, T. T., Nestor, A., Vida, M. D., Pyles, J. A., Patterson, C., Yang, Y., … Behrmann, M. (2018). Successful Reorganization of Category-Selective Visual Cortex following Occipito-temporal Lobectomy in Childhood. *Cell Reports*, 24(5), 1113–1122.e6. [[PDF]](https://doi.org/10.1016/j.celrep.2018.06.099)
							* Mahon, B. Z., Milleville, S. C., Negri, G. A. L., Rumiati, R. I., Caramazza, A., & Martin, A. (2007). Action-Related Properties Shape Object Representations in the Ventral Stream. *Neuron*, 55(3), 507–520. [[PDF]](https://doi.org/10.1016/j.neuron.2007.07.011)
							* Negri, G. A. L., Rumiati, R., Zadini, A., Ukmar, M., Mahon, B., & Caramazza, A. (2007). What is the role of motor simulation in action and object recognition? Evidence from apraxia. *Cognitive Neuropsychology*, 24(8), 795–816. [[PDF]](https://doi.org/10.1080/02643290701707412)
							* Nozari, N. (2019). The dual origin of semantic errors in access deficit: activation vs. inhibition deficit. Cognitive Neuropsychology, 36(1–2), 31–53. [[PDF]](https://doi.org/10.1080/02643294.2019.1587397)
							* Nozari, N., Arnold, J. E., & Thomspon-Schill, S. L. (2014). The effects of anodal stimulation of the left prefrontal cortex on sentence production. *Brain Stimulation*, 7(6), 784–792. [[PDF]](https://doi.org/10.1016/j.brs.2014.07.035)
							* Nozari, N., & Faroqi-Shah, Y. (2017). Investigating the origin of nonfluency in aphasia: A path modeling approach to neuropsychology. *Cortex*, 95, 119–135. [[PDF]](https://doi.org/10.1016/j.cortex.2017.08.003)
							* Nozari, N., Woodard, K., & Thompson-Schill, S. L. (2014). Consequences of cathodal stimulation for behavior: When does it help and when does it hurt performance? *PLoS ONE*, 9(1). [[PDF]](https://doi.org/10.1371/journal.pone.0084338)
							* Rofes, A., Mandonnet, E., de Aguiar, V., Rapp, B., Tsapkini, K., & Miceli, G. (2018). Language processing from the perspective of electrical stimulation mapping. *Cognitive Neuropsychology*, 0(0), 1–23. [[PDF]](https://doi.org/10.1080/02643294.2018.1485636)
							* Schneider, C. L., Prentiss, E. K., Busza, A., Matmati, K., Matmati, N., Williams, Z. R., … Mahon, B. Z. (2019). Survival of retinal ganglion cells after damage to the occipital lobe in humans is activity dependent. *Proceedings of the Royal Society B: Biological Sciences*, 286(1897). [[PDF]](https://doi.org/10.1098/rspb.2018.2733)
							* Stasenko, A., Garcea, F. E., Dombovy, M., & Mahon, B. Z. (2014). When concepts lose their color: A case ofobject-color knowledge impairment. *Cortex*, 58, 217–238. [[PDF]](https://doi.org/10.1016/j.cortex.2014.05.013)
							* Tao, Y., & Rapp, B. (2019). The effects of lesion and treatment-related recovery on functional network modularity in post-stroke dysgraphia. *NeuroImage: Clinical*, 23(April), 101865. [[PDF]](https://doi.org/10.1016/j.nicl.2019.101865)
							* Tsapkini, K., Webster, K., Ficek, B. N., Desmond, J., Onyike, C., Rapp, B., … Hillis, A. E. (2017). Transcranial direct current stimulation in primary progressive aphasia: Whom does it help? *Brain Stimulation*, 10(4), e40. [[PDF]](https://doi.org/10.1016/j.brs.2017.04.073)
							* Tsapkini, K., Webster, K. T., Ficek, B. N., Desmond, J. E., Onyike, C. U., Rapp, B., … Hillis, A. E. (2018). Electrical brain stimulation in different variants of primary progressive aphasia: A randomized clinical trial. *Alzheimer’s and Dementia: Translational Research and Clinical Interventions*, 4, 461–472. [[PDF]](https://doi.org/10.1016/j.trci.2018.08.002)
							* Yang, H., Lin, Q., Han, Z., Li, H., Song, L., Chen, L., … Bi, Y. (2017). Dissociable intrinsic functional networks support noun-object and verb-action processing. *Brain and Language*, 175(August), 29–41. [[PDF]](https://doi.org/10.1016/j.bandl.2017.08.009)
							* Yuan, B., Fang, Y., Han, Z., Song, L., He, Y., & Bi, Y. (2017). Brain hubs in lesion models: Predicting functional network topology with lesion patterns in patients. *Scientific Reports*, 7(1), 1–12. [[PDF]](https://doi.org/10.1038/s41598-017-17886-x)
	+footer()