include ../../partials/_head
include ../../partials/_header
include ../../partials/_svg
include ../../partials/_icon
include ../../partials/_footer

+head("Brain Mapping during Neurosurgery | The Open Brain Project", "Where personalized medicine meets translational human brain mapping.")
body.translate-page.brain-mapping-during-neurosurgery-page
	+header()
	section.page-hero
			.container
				h1 Brain Mapping during Neurosurgery
	main.page-content
		section
			.container
	+footer()