include ../../_partials/_head
include ../../_partials/_header
include ../../_partials/_svg
include ../../_partials/_icon
include ../../_partials/_footer

+head("Successful submission")
body.join-page.contribute-page
	+header()
	section.page-hero
		.container
			h1 Contribute
			p Contribute data or publications to The Open Brain Project
	main.page-content
		section
			.container
				h2 Successful Submission 
				p Your submission has been recieved.
	+footer()