include ../../partials/_head
include ../../partials/_header
include ../../partials/_svg
include ../../partials/_icon
include ../../partials/_footer

+head("Brain Explorer | The Open Brain Project", "Where personalized medicine meets translational human brain mapping.")
body.discover-page.experiment-exchange-page
	+header()
	section.page-hero
			.container
				h1 Experiment Exchange
	main.page-content
		section
			.container
	+footer()