include ./_svg

mixin footer()
	footer
		.container
			| <a href="/join"><svg class="icon icon-join"><use xlink:href="#join"></use></svg>Join the Open Brain Project</a>
	script(src="../_js/openbrainproject.js")
	+svg()