include ./_icon
include ./_nav

mixin header()
	header
		.container
			a.site-logo-link(href="/")
				.site-logo
					+icon("brain")
					.site-logo-text
						h1.site-title The Open Brain Project
						h2.site-taglines 
							.site-tagline Translating discovery into care
							.site-tagline Learn, discover, translate
							.site-tagline.long Better prediction through understanding  
							.site-tagline Big data, one brain at a time
							.site-tagline.spacer.long Better prediction through understanding  
			.right-header-content
				a.header-social-link.twitter(href="https://twitter.com/OpenBrainPro", aria-label="Open Brain Project on Twitter")
					+icon("twitter")
				a.header-social-link.facebook(href="https://www.facebook.com/TheOpenBrainProject/", aria-label="Open Brain Project on Facebook")
					+icon("facebook")
	+nav()
