include ./_icon
include ./_nav

mixin header()
	header
		.container
			a.site-logo-link(href="/")
				.site-logo
					+icon("brain")
					.site-logo-text
						h1 The Open Brain Project
						h2.tagline 
							.tagline-item Translating discovery into care
							.tagline-item Learn, discover, translate
							.tagline-item Better prediction through understanding  
							.tagline-item Big data, one brain at a time
			.right-header-content
				a.header-social-link(href="https://twitter.com", aria-label="Open Brain Project on Twitter")
					+icon("twitter")
				a.header-social-link(href="https://facebook.com", aria-label="Open Brain Project on Facebook")
					+icon("facebook")
	+nav()
