include ./_icon

mixin nav()
	.nav
		nav.nav-menu
			.container
				.nav-list
					ul.primary-nav-items
						li.nav-item.nav-group.learn-group(tabindex=0)
							.nav-link.main-nav-link
								span Learn
								+icon("rarr")
								+icon("dchev")
							ul.nav-subgroup
								li.nav-item
									a.nav-link(href="/resources-for-patients")
										span Resources for Patients
								li.nav-item
									a.nav-link(href="/video-archive")
										span Video Archive
						li.nav-item.nav-group.discover-group(tabindex=0)
							.nav-link.main-nav-link
								span Discover
								+icon("rarr")
								+icon("dchev") 
							ul.nav-subgroup
								li.nav-item
									a.nav-link(href="/brainsurvey") 
										span Brain Survey
								li.nav-item
									a.nav-link(href="/data-exchange") 
										span Data Exchange
								li.nav-item
									a.nav-link(href="/experiment-exchange") 
										span Experiment Exchange
						li.nav-item.nav-group.translate-group(tabindex=0)
							.nav-link.main-nav-link
								span Translate
								+icon("rarr")
								+icon("dchev")
							ul.nav-subgroup
								li.nav-item
									a.nav-link(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping.aspx", target="_blank", rel="noopener")
										span University of Rochester Neurosurgery
										+icon("external")
								li.nav-item
									a.nav-link(href="https://www.upmc.com/Services/neurosurgery", target="_blank", rel="noopener")
										span University of Pittsburgh Neurosurgery
										+icon("external")
					ul.secondary-nav-items
						li.nav-item.nav-group.about-group
							a.nav-link.main-nav-link(href="/about") 
								span About
						//- li.nav-item.nav-group.publications-group
						//- 	a.nav-link.main-nav-link(href="/publications") 
						//- 		span Publications
						li.nav-item.nav-group.consortium-group
							a.nav-link.main-nav-link(href="/consortium") 
								span Consortium
						li.nav-item.nav-group.media-group
							a.nav-link.main-nav-link(href="/media") 
								span Media
						li.nav-item.nav-group.join-group
							a.nav-link.main-nav-link(href="/join") 
								<svg class="icon icon-join"><use xlink:href="#join"></use></svg>
								span Join