mixin spinner()
	svg.spinner(width="20", height="20", viewBox="0, 0, 30, 30", xmlns="http://www.w3.org/2000/svg", aria-hidden="true")
		path(d="M 15 25 A 5 5 0 1 1 15 5", stroke="#eceff1", stroke-width="1", fill="none", stroke-linecap="round")