include ../partials/_head
include ../partials/_header
include ../partials/_footer

+head()

body.team
	+header()
	.team-wrapper
		.team-col.team-col--1
		.team-col.team-col--2
		.team-col.team-col--3
		for member in teams
			.team-member-wrapper
				.team-member
					.container
						img.team-member-photo(src="../img/team/" + member.img_src, width=160, height=240, alt="Photo of " + member.name)
						.team-member-info
							h2= member.name
							for title in member.titles
								h3.team-member-title= title
							p.team-member-bio= member.bio
	+footer()
	script(src="../js/colcade.min.js")
	script.
		var colc = new Colcade('.team-wrapper', {
		  columns: '.team-col',
		  items: '.team-member-wrapper'
		});