include ../../_partials/_head
include ../../_partials/_header
include ../../_partials/_svg
include ../../_partials/_icon
include ../../_partials/_footer

+head("Success")
body.join-page
	+header()
	section.page-hero
		.container
			h1 Join
			p Thank you for joining the Open Brain Project
	main.page-content
		section
			.container
				h2 Successful Submission 
				p Your submission has been received.
	+footer()