include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Data Consortium | The Open Brain Project", "Connecting patients who have questions to answers, students to educational resources, and scientists to the latest tools for advancing knowledge and care.")
body.data-consortium-page
	+header()
	section.page-hero
		.container
			h1 Data Consortium
	main.page-content
		section
			.container
	+footer()