include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Translate | The Open Brain Project", "The Program for Translational Brain Mapping is focused on translating the latest discoveries about human brain function into opportunities to improve patient care.")
body.discover
	+header()
	main
		section.page-hero.blue-gradient
			.container.split
				h2 Translate
				p.stretch The Program for Translational Brain Mapping is focused on translating the latest discoveries about human brain function into opportunities to improve patient care.
		section.translational-brain-mapping-section
			.container
				a(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping.aspx") Program for Translational Brain Mapping
				
	+footer()