include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Translate | The Open Brain Project", "The Program for Translational Brain Mapping is focused on translating the latest discoveries about human brain function into opportunities to improve patient care.")
body.discover
	+header("translate")
	main
		section.page-hero.blue-gradient
			.container.split
				h1 Translate
				p.stretch The Program for Translational Brain Mapping is focused on translating the latest discoveries about human brain function into opportunities to improve patient care.
		section.news-section
			.container
				h2 News
		section.news-section
			.container
				h2 Scientific Products
		section.news-section
			.container
				h2 Resources for Scientists
		section.data-sets-section
			.container
				h2 Data Sets
	
	+footer()
			


