include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Translate | The Open Brain Project", "Turning the latest discoveries about human brain structure and function into better outcomes for patients.")
body.translate
	+header()
	main
		section.page-hero.orange-gradient
			.container
				h1 Translate
				p Turning the latest discoveries about human brain structure and function into better outcomes for patients.
		.wrapper.videos-list
			a.video-block(href="https://www.youtube.com/watch?v=tgZrbLlK6IM")
				.video-thumbnail(style="background-image: url(https://i.ytimg.com/vi/tgZrbLlK6IM/sddefault.jpg)")
					.icon-youtube-wrapper
						+icon("youtube")
				h4.video-title The mission of the Program for Translational Brain Mapping
	+footer()