include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Translate | The Open Brain Project", "Turning the latest discoveries about human brain structure and function into better outcomes for patients.")
body.translate-page
	+header()
	section.page-hero
		.container
			h1 Translate
			p Turning the latest discoveries about human brain structure and function into better outcomes for patients.
	main.page-content
			section
				.container
	+footer()