include ./_partials/_head
include ./_partials/_header
include ./_partials/_icon
include ./_partials/_footer

+head("The Open Brain Project | 404 Page Not Found")
body.page-404
	+header("")
	main
		section
			.container
				h1.four-oh-four-title 404.
				h2 Sorry, this page isn't available.
				a(href="/") 
					span Go home
					+icon("rarr")
	+footer()
