include ./_partials/_head
include ./_partials/_header
include ./_partials/_icon
include ./_partials/_footer

+head("The Open Brain Project | 404 Page Not Found")
body.home
	+header("")
	main
		section.four-oh-four-section
			.container
				h1.four-oh-four-title 404
				h2 Sorry, this page isn't available.
				a.container(href="/")
					h1 
						| Go home
						+icon("rarr")
	+footer()
