include ./partials/_head
include ./partials/_header
include ./partials/_icon
include ./partials/_footer
include ./partials/_signup

+head("The Open Brain Project | Discover, Translate, Treat", "The Open Brain Project is a collaborative effort among scientists and clinicians to support basic discoveries of brain function that advance patient care.")
body.home
	+header("")
	main
		section.mission-section
			.container
				p Supporting discoveries about the human brain and their translation into treatment.
		section.partners-section
			.container
				h1 Collaborating Laboratories by Institution
			.container
				.partners-grid
					a.partner-link(href="https://www.cmu.edu/dietrich/psychology/caoslab/")
						img.partner-img(src="img/partners/cmu_color.png", width="500", height="490", alt="Carnegie Mellon University")
					a.partner-link(href="http://tbm.urmc.edu")
						img.partner-img(src="img/partners/urmc_color.png", width="500", height="490", alt="University of Rochester Medical School")
					a.partner-link(href="http://proactionlab.fpce.uc.pt/")
						img.partner-img(src="img/partners/uc_color.png", width="500", height="490", alt="University of Coimbra")
					a.partner-link(href="")
						img.partner-img(src="img/partners/beijing_color.png", width="500", height="490", alt="Beijing Normal University")
					a.partner-link(href="https://cogneuro.psychology.fas.harvard.edu/")
						img.partner-img(src="img/partners/harvard_color.png", width="500", height="490", alt="Harvard University")
		section.videos-section
			.container
				h1 Featured Videos
				p Translating the latest discoveries in human neuroscience into the best care for patients.
			.wrapper.videos-list
				for video in videos
					a.video-block(href="https://www.youtube.com/watch?v=" + video.video_url)
						.video-thumbnail(style="background-image: url(" + video.thumbnail_src + ")")
							.icon-youtube-wrapper
								+icon("youtube")
						.video-meta
							h4.video-title= video.title
							p.video-description= video.description
	+footer()
	+signup()
