include ./_partials/_head
include ./_partials/_header
include ./_partials/_icon
include ./_partials/_footer
include ./_partials/_signup

+head("The Open Brain Project")
body.home
	+header("")
	main
		section.mission-section
			.wrapper
				.container.mission-container
					p The Open Brain Project is a consortium of scientists and clinicians dedicated to advancing knowledge about how the human brain responds to and recovers from injury.
				.container.cycle-container
					.cycle
						.pulse-block.pulse-1.cycle-block.discover-cycle-block
							h1 Discover
							p Insights about brain <br>structure and function
						.pulse-block.pulse-2.arrow-block.arrow-block-1
							+icon("cycle-darr")
						.pulse-block.pulse-6.arrow-block.arrow-block-2
							+icon("cycle-uarr")
						.pulse-block.pulse-3.cycle-block.translate-cycle-block
							h1 Translate
							p  Personalized cognitive <br>brain mapping
						.pulse-block.pulse-5.cycle-block.care-cycle-block
							h1 Care
							p  Improve recovery and outcome <br>after brain injury
						.pulse-block.pulse-4.arrow-block.arrow-block-3
							+icon("cycle-darr")
		section.featured-content-section
			.container
				h1 Featured Content from The Open Brain Project
		section.videos-section
			.container
				h1 Featured Videos
				p Translating the latest discoveries in human neuroscience into the best care for patients.
			.wrapper.videos-list
				for video in videos
					a.video-block(href="https://www.youtube.com/watch?v=" + video.video_url)
						.video-thumbnail(style="background-image: url(" + video.thumbnail_src + ")")
							.icon-youtube-wrapper
								+icon("youtube")
						.video-meta
							h4.video-title= video.title
							p.video-description= video.description
	+footer()