include ./partials/_head
include ./partials/_header
include ./partials/_toggle
include ./partials/_footer

+head()
body
	header.header
		.container
			h1 The Open Brain Project
	.main
		section.intro
			.container
				h3 The Open Brain Project is a collaborative effort among scientists and clinicians to advance understanding of normal and pathological brain function. Our mission is support basic discoveries of brain function that advance patient care and provide a platform for community education and outreach.
		section.education
			.container
				h2 Education
				ul.links
					li.link.featured
						a.link-block(href="https://brainsurvey.org")
							.link-video-wrapper
								video(width="320", height="240", loop, muted, autoplay)
									source(src="img/brain_1232_720.mp4", type="video/mp4")
							.link-content
								h4 Brain Survey
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
		section.discovery
			.container
				h2 Discovery
				ul.links
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h4 Brain Tumor
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h4 Stroke
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h4 TBI
		section.care
			.container
				h2 Care
				ul.links
					li.link.featured.reversed
						a.link-block(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping.aspx")
							.link-image-wrapper
								.link-image(style="background-image: linear-gradient(transparent, rgba(0,0,0,.1)), url(img/urmc_1200_900.png)")
							.link-content
								h4 Program for Translational Brain Mapping
								p The program for translational brain mapping brings together clinicians and scientists at the University of Rochester, Carnegie Mellon University and the University of Pittsburgh Medical Center who are committed to the vision of advancing patient care through personalized brain mapping. The Program for Translational Brain Mapping is based in the Department of Neurosurgery at the University of Rochester Medical Center. 
				ul.links
					li.link
						a.link-block(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping/our-team.aspx")
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h4 Our Team
					li.link
						a.link-block(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping/our-facilities.aspx")
							.link-image-wrapper
								.link-image(style="background-image: url(img/facilities_1200_900.jpg)")
							.link-content
								h4 Our Facilities
					li.link
						a.link-block(href="https://www.urmc.rochester.edu/del-monte-neuroscience/translational-brain-mapping/resources-for-patients.aspx")
							.link-image-wrapper
								.link-image(style="background-image: url(img/book_1200_900.jpg)")
							.link-content
								h4 Resources for Patients
	.secondary
		section.videos
			.wrapper
				h2 Featured Videos
				.flickity-controls
					button.previous Previous
					button.next Next
			.video-wrapper(data-flickity='{ "pageDots": false, "autoPlay": true, "wrapAround": true, "lazyLoad": 2 }')
				for video in videos
					.carousel-cell
						a.carousel-cell-link(href="https://www.youtube.com/watch?v=" + video.id)
							.carousel-cell-img-wrapper
								img.carousel-cell-img(data-flickity-lazyload="https://i.ytimg.com/vi/" + video.id + "/hqdefault.jpg", width=480 height="360")
								.carousel-cell-play
							.carousel-cell-content
								h4= video.title
								// p= video.description

				//- .video-wrapper(data-flickity='{ "autoPlay": true, "wrapAround": true, "lazyLoad": 2 }')
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="https://www.youtube.com/watch?v=95NMmqaFAKE")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Saxophone Serenades Surgeons 8/21/17
				//- 				p Music is not only a major part of Dan Fabbio’s life, as a music teacher it is his livelihood. So when doctors... 
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="XXXXXX")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Video_name
				//- 				p XXXXXX
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="XXXXXX")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Video_name
				//- 				p XXXXXX
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="XXXXXX")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Video_name
				//- 				p XXXXXX
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="XXXXXX")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Video_name
				//- 				p XXXXXX
				//- 	.carousel-cell
				//- 		a.carousel-cell-link(href="XXXXXX")
				//- 			img.carousel-cell-img(data-flickity-lazyload="img/book_1200_900.jpg")
				//- 			.carousel-cell-content
				//- 				h3 Video_name
				//- 				p XXXXXX

		section.contact
			.container
				h2 Newsletter
				p Subscribe to our monthly newsletter
				.subscribe
					input.subscribe-input(type="email", placeholder="Your email...")
					button.subscribe-button Subscribe

		footer.footer
			.container
				p &copy; 2019 Brad Mahon of Brain Survey, LLC
		script(src="js/flickity.min.js")
