include ./partials/_head
include ./partials/_header
include ./partials/_toggle
include ./partials/_footer

+head()
body
	header.header
		.container
			h1 The Open Brain Project
	.main
		section.intro
			.container
				h2 The Open Brain Project lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod through <em class="discovery-em">Discovery</em>, <em class="care-em">Care</em>, and <em class="education-em">Education</em>.
		section.discovery
			hr
			.container
				h2.section-heading Discovery
				ul.links
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
		section.care
			hr
			.container
				h2.section-heading Care
				ul.links
					li.link.featured
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Program for Translational Brain Mapping
								p The program for translational brain mapping brings together clinicians and scientists at the University of Rochester committed to the vision of advancing patient care through personalized brain mapping. 
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum

		section.education
			hr
			.container
				h2.section-heading Education
				ul.links
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Brain Survey
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
					li.link
						a.link-block
							.link-image-wrapper
								.link-image(style="background-image: url()")
							.link-content
								h3 Lorem Ipsum
	.secondary
		section.videos
			.container
				h2.section-heading Featured Video
				.video-wrapper
		section.contact
			.container
				h2.section-heading Newsletter
				p Subscribe to our monthly newsletter
				.subscribe
					input.subscribe-input(type="email", placeholder="Your email...")
					button.subscribe-button Subscribe

		footer.footer
			.container
				p The Open Brain Project &copy; 2018 Brad Mahon
