include ./partials/_head
include ./partials/_header
include ./partials/_icon
include ./partials/_footer
include ./partials/_signup

+head("The Open Brain Project | Discover, Educate, Translate", "The Open Brain Project is a collaborative effort among scientists and clinicians to advance understanding of normal and pathological brain function.")
body.home
	+header("")
	+nav()
	main
		section.main-area-blocks-section
			.container
				.link-blocks.main-area-blocks
					a.link-block.discover-block.orange-gradient(href="/discover")
						.container
							h1 Discover
							p Integrating knowledge from the cognitive and brain sciences to open new frontiers in understanding human brain structure and function.
							.button
								| Learn More
								+icon("rarr")
					a.link-block.educate-block.green-gradient(href="/educate")
						.container
							h1 Educate
							p Connecting patients who have questions about a recent diagnosis to answers, students to educational resources, and scientists and clinicians to the latest tools for advancing knowledge and patient care.
							.button
								| Learn More
								+icon("rarr")
					a.link-block.translate-block.blue-gradient(href="/translate")
						.container
							h1 Translate
							p The Program for Translational Brain Mapping is focused on translating the latest discoveries about human brain function into opportunities to improve patient care.
							.button
								| Learn More
								+icon("rarr")
		section.mission-section
			.container
				h1 The Open Brain Project is a collaborative effort among scientists and clinicians to support basic discoveries of brain function that advance patient care and provide a platform for community education and outreach.			
		section.focus-area-section
			.container
				h1 Our Focus Areas
			.container
				.link-blocks.focus-area-blocks
					a.link-block.stroke-block.pink-gradient(href="/stroke")
						.container
							h1 
								| Stroke
								+icon("rarr")
					a.link-block.stroke-block.yellow-gradient(href="/brain-tumors")
						.container
							h1 
								| Brain Tumors
								+icon("rarr")
					a.link-block.stroke-block.purple-gradient(href="/tbi")
						.container
							h1 
								| Traumatic Brain Injury
								+icon("rarr")
		section.partners-section
			.container
				h1 Partnering Institutions and Programs
			.container
				.partners-grid
					a.partner-link(href="https://www.cmu.edu/dietrich/psychology/caoslab/")
						img.partner-img(src="img/partners/cmu_color.png", width="500", height="490", alt="Carnegie Mellon University")
					a.partner-link(href="http://tbm.urmc.edu")
						img.partner-img(src="img/partners/urmc_color.png", width="500", height="490", alt="University of Rochester Medical School")
					a.partner-link(href="http://proactionlab.fpce.uc.pt/")
						img.partner-img(src="img/partners/uc_color.png", width="500", height="490", alt="University of Coimbra")
					a.partner-link(href="")
						img.partner-img(src="img/partners/beijing_color.png", width="500", height="490", alt="Beijing Normal University")
					a.partner-link(href="https://cogneuro.psychology.fas.harvard.edu/")
						img.partner-img(src="img/partners/harvard_color.png", width="500", height="490", alt="Harvard University")
	+footer()
	+signup()