include ./_partials/_head
include ./_partials/_header
include ./_partials/_icon
include ./_partials/_brain_graphic
include ./_partials/_footer
include ./_partials/_signup

+head("")
body.home-page
	+header("")
	main
		section.mission-section.page-hero
			.wrapper
				.brain-graphic-wrapper
					+brain_graphic()
				.container
					.mission-points
						p.mission-point A consortium of scientists and clinicians dedicated to advancing knowledge about brain injury
						p.mission-point A meta-analytic engine to relate locations of brain injury to sensory, cognitive and motor performance
						p.mission-point A hub to connect patients and their families with resources to manage their condition
						p.mission-point.spacer A forum to share research papers, data, and experimental protocols related to neuropsychological research
		section.featured-content-section
			.wrapper.featured-grid-wrapper
				.featured-grid-column
				.featured-grid-column
				.featured-grid-item 
					a.featured-content(href="https://www.wired.com/story/the-nfls-helmet-tests-are-brainless/")
						.featured-thumbnail-wrapper
							img(src="_img/wired.jpg", width="800", height="600", alt="Photo for Wired article")
						.featured-meta
							h2 The NFL's Helmet Tests Are Brainless
							p Current testing on helmets ignores the kinds of impacts that cause most of the concussions. It’s time for football to wise up.
				.featured-grid-item 
					a.featured-content(href="https://www.youtube.com/watch?v=NGf85QsJDcU&feature=youtu.be")
						.featured-thumbnail-wrapper
							.video-block
								.video-thumbnail(style="background-image:url(_img/second_opinion.jpg)")
									.icon-youtube-wrapper
										+icon("youtube")
						.featured-meta
							h2 University of Rochester Neurosurgery highlighted by Second Opinion
				.featured-grid-item 
					a.featured-content(href="/brainsurvey")
						.featured-thumbnail-wrapper
							img(src="_img/brain_survey.jpg", width="800", height="600", alt="Screenshot of Brain Survey website")
						.featured-meta
							h2 Brain Survey
							p Explore a 3D model of the human brain
				.featured-grid-item 
					a.featured-content(href="https://www.jove.com/video/59592/translational-brain-mapping-at-university-rochester-medical-center")
						.featured-thumbnail-wrapper
							.video-block
								.video-thumbnail(style="background-image:url(_img/jive_urmc.jpg)")
									.icon-youtube-wrapper
										+icon("video")
						.featured-meta
							h2 Translational Brain Mapping at URMC: Preserving the Mind Through Personalized Brain Mapping
				.featured-grid-item
					a.featured-content(href="/how-football-affects-the-brain")
						.featured-thumbnail-wrapper
							img(src="_img/tbi_1.png", width="800", height="600", alt="Screenshot of interactive model of traumatic brain injury in football players")
						.featured-meta
							h2 How football affects the brain
							p New research documents a type of brain damage that can occur in football players in the absence of concussion
				.featured-grid-item 
					a.featured-content(href="https://www.youtube.com/watch?v=5K66gj5e4Mk")
						.featured-thumbnail-wrapper
							.video-block
								.video-thumbnail(style="background-image:url(_img/mapping_language_ability.jpg)")
									.icon-youtube-wrapper
										+icon("youtube")
						.featured-meta
							h2 Mapping language ability during awake brain surgery
				.featured-grid-item 
					a.featured-content(href="https://www.youtube.com/watch?v=95NMmqaFAKE")
						.featured-thumbnail-wrapper
							.video-block
								.video-thumbnail(style="background-image:url(_img/brain_mapping_for_music.jpg)")
									.icon-youtube-wrapper
										+icon("youtube")
						.featured-meta
							h2 Brain mapping for music  


	+footer()