// Charset ===============================================================================
@charset "UTF-8";

// Normalize =============================================================================
@import "partials/normalize";
@import "partials/reset";
@import "partials/extensions";
@import "partials/functions";

// Mixins ================================================================================
@mixin shadow($color, $size) {
	box-shadow: 0 $size/4 $size $color;
}

@mixin gradient($color) {
	background-color: $color;
	background-image: linear-gradient(
		to bottom right,
		rgba($color, 0),
		adjust-hue(shade($color, 20%), -15%)
	);

	&.link-block:hover {
		background-color: shade($color, 20%);

		.button:hover {
			color: shade($color, 25%);
		}
	}
}

// Variables =============================================================================
$white: #fff;
$black: #16161d;
$light_black: tint($black, 5%);
$lighter_black: tint($black, 10%);
$light_gray: rgba(mix($black, $white), 0.25);
$light_white: rgba($white, 0.1);

$blue_link: #147ace;
$purple_link: #9d13c1;

$blue: #2196f3;
$light_blue: #00bcd4;
$green: #37b055;
$orange: #ffa726;
$pink: #f06292;
$purple: #ba68c8;
$yellow: #ffeb3b;

$mobile: 20rem;
$tablet: 40rem;
$desktop: 60rem;

:root {
	--root-size: 90%;

	--extra-large: 1.5rem;
	--large: 0.75rem;
	--medium: 0.5rem;
	--small: 0.25rem;

	--transition: 0.25s;
	--transition-hover: 0s;
	--transition-decorative: 1s;

	--radius: 0.25rem;
	--radius-large: 1rem;

	--sidebar-width: 20rem;

	@media (min-width: $tablet) {
		--root-size: 100%;

		--extra-large: 2rem;
		--large: 1rem;
		--medium: 0.75rem;
		--small: 0.35rem;
	}

	@media (prefers-reduced-motion: reduce) {
		--transition: 0s;
		--transition-hover: 0s;
		--transition-decorative: 0s;
	}
}

// Base Styles ===========================================================================
body {
	font-size: var(--root-size);
	font-family: Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
	color: $black;
	background: $white;
	background-image: radial-gradient(
			circle at top left,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		),
		radial-gradient(
			circle at bottom right,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		);
	min-height: 100vh;
}

section {
	padding: var(--large) 0;
	border-bottom: thin solid $light_gray;
}

.page-title {
	padding: var(--small) 0;
	border-top: thin solid $light_gray;
	border-bottom: thin solid $light_gray;
}

.container,
.wrapper {
	position: relative;
	max-width: $desktop;
	margin: 0 auto;
}

.container {
	padding: var(--large) var(--extra-large);
}

// Typography ============================================================================
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: var(--medium);
}

h3 {
	font-size: 1.2em;
	margin-bottom: var(--small);
}

h4 {
	font-weight: normal;
	font-size: 0.875em;
	line-height: 1rem;
}

p {
	margin-bottom: var(--medium);
}

a {
	color: $blue_link;

	&:visited {
		color: $purple_link;
	}
}

label {
	display: block;
}

ul,
li {
	margin-left: var(--large);
	list-style-type: square;
}

ul {
	margin-bottom: var(--large);
}

li {
	margin-bottom: var(--small);
}

input {
	display: block;
	font: inherit;
	padding: var(--small) var(--medium);
	border-radius: var(--radius);
	border: 0;
	transition: color var(--transition), background-color var(--transition);
}

button {
	background: transparent;
	font: inherit;
	border: 0;
}

.button {
	display: inline-block;
	padding: var(--small) var(--large);
	font-weight: bold;
	border-radius: 2em;
	transition: color var(--transition), background-color var(--transition);
	cursor: pointer;
}

.split {
	@media (min-width: $tablet) {
		display: flex;
		align-items: flex-start;

		.stretch {
			flex: 1;
			padding-left: var(--extra-large);
		}
	}
}

// Icons =================================================================================
.icon {
	display: inline-block;
	vertical-align: baseline;
	width: 0.7em;
	height: 0.7em;
}

// Spinner ===============================================================================
.spinner-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 2px solid;
	border-color: $white $white transparent transparent;
	border-radius: 50%;
	animation: spin 0.6s linear infinite;

	@keyframes spin {
		to {
			transform: rotate(1turn);
		}
	}
}

// Header ================================================================================
header {
	@media (min-width: $tablet) {
		font-size: 1.25em;
	}

	a {
		&,
		&:visited {
			color: $black;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}

.header-social-link {
	display: inline-block;
	vertical-align: middle;
	border-right: thin solid $light_gray;
	line-height: 2.5em;
	padding: 0 var(--medium);
	text-align: center;
	cursor: pointer;
	vertical-align: top;

	.icon {
		width: 1.25em;
		height: 1.25em;
		vertical-align: middle;
	}

	&:hover {
		background: $light_gray;
	}

	@media (min-width: $tablet) {
		&:nth-child(2) {
			border-right: 0;
		}
	}
}

// Logo ==================================================================================
.site-logo {
	@extend %no-select;

	display: inline-block;
	white-space: nowrap;
	font-weight: bold;
	line-height: 2.5em;

	a {
		color: $black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin-right: var(--small);

		@media (min-width: $tablet) {
			width: 2em;
			height: 2em;
		}
	}
}

// Nav toggle ============================================================================
.nav-toggle {
	@extend %no-select;

	display: inline-block;
	position: relative;
	font-weight: bold;
	padding: 0 var(--medium);
	line-height: 2.5em;
	cursor: pointer;
	float: right;
	vertical-align: top;

	&:hover {
		background: $light_gray;

		span {
			text-decoration: underline;
		}
	}

	span {
		display: none;

		@media (min-width: $tablet) {
			display: inline-block;
			margin: 0 var(--small) 0 0;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin: 0;
	}

	.icon-close {
		display: none;
	}

	.has-nav & {
		background: $light_gray;
		z-index: 200;
		position: relative;
		color: $white;

		.icon-menu {
			display: none;
		}
		.icon-close {
			display: inline-block;
		}
	}

	@media (min-width: $tablet) {
		display: none;
	}
}

// Navigation ============================================================================
.nav {
	ul,
	li {
		margin: 0;
	}

	li {
		list-style: none;
	}
}

.nav-link {
	display: inline-block;
	text-decoration: none;

	&[href="/XXXXXX"] {
		text-decoration: line-through;
		color: crimson;
	}

	&:hover {
		span {
			text-decoration: underline;
		}
	}
}

.main-nav-link {
	font-weight: bold;
}

@media (max-width: $tablet) {
	.nav {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		transition: var(--transition);
		background: rgba($white, 0.8);

		.has-nav & {
			pointer-events: initial;
			opacity: 1;
		}
	}

	.nav-spacer {
		flex: 1;
	}

	.nav-menu {
		width: 80%;
		background: $lighter_black;
		overflow-y: auto;
		transform: translate(var(--large));
		transition: transform var(--transition);

		.has-nav & {
			transform: none;
		}

		li {
			ul {
				margin: 0 0 0 var(--small);
				padding: 0 0 0 var(--large);
				border-left: thin solid $light_gray;

				// &.discover-group {
				// 	border-color: $light_blue;
				// }

				// &.translate-group {
				// 	border-color: $orange;
				// }

				// &.treat-group {
				// 	border-color: $blue;
				// }
			}
		}
	}

	.nav-group {
		padding: var(--small) 0;
	}

	.nav-link {
		padding: 0.25em var(--small);
		border-bottom: thin solid $light_gray;

		&,
		&:visited {
			color: $white;
		}

		.icon-dchev {
			display: none;
		}
	}
}

@media (min-width: $tablet) {
	.nav {
		position: relative;
		background: $lighter_black;

		.container {
			padding: 0 var(--extra-large);
		}
	}
	.nav-group {
		display: inline-block;
		position: relative;

		&:hover {
			background: $light_black;
		}
	}

	.nav-subgroup {
		display: none;
		position: absolute;
		left: 0;
		min-width: 22em;
		z-index: 100;
		border-radius: 0 0 var(--radius) var(--radius);
		overflow: hidden;
		background: $light_black;

		.nav-group:hover & {
			display: block;
			box-shadow: 0 0.5em 1em $light_gray;
		}
	}

	.nav-sub-subgroup {
		margin-left: var(--large);

		.nav-link {
			padding-left: var(--extra-large);
		}
	}

	.nav-link {
		display: block;
		padding: var(--medium) var(--large);

		&,
		&:visited {
			color: $white;
		}

		&:not(.main-nav-link):hover {
			background: $black;
		}

		.icon-rarr {
			display: none;
		}
	}

	.discover-page .main-nav-link[href^="/discover"] {
		box-shadow: inset 0 var(--small) $light_blue;
		background: $black;
	}
	.translate-page .main-nav-link[href^="/translate"] {
		box-shadow: inset 0 var(--small) $orange;
		background: $black;
	}
	.care-page .main-nav-link[href^="/care"] {
		box-shadow: inset 0 var(--small) $blue;
		background: $black;
	}
}

// Elements ==============================================================================
.page-hero {
	position: relative;
	color: $white;

	.discover-page & {
		@extend .light-blue-gradient;
	}
	.translate-page & {
		@extend .orange-gradient;
	}
	.care-page & {
		@extend .blue-gradient;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1;
	}

	.backlink {
		font-size: 2em;
		color: rgba($white, 0.6);
		text-decoration: none;
		margin-bottom: var(--large);
		font-weight: bold;
	}

	p {
		font-size: 1.2em;
		font-weight: normal;
		margin: var(--medium) 0 0;
		max-width: 30em;
	}

	@media (min-width: $tablet) {
		.container {
			padding: var(--extra-large);
		}
	}

	// @media (min-width: $desktop) {
	// 	padding-bottom: $overhang;
	// 	margin-bottom: -$overhang - 1.5rem;

	// 	& + section .container {
	// 		background: $white;
	// 		padding-top: var(--extra-large);
	// 	}
	// }
}

.page-subhero {
	padding: 0;

	p {
		margin: 0;
	}
}

// Gradients =============================================================================
.orange-gradient {
	@include gradient($orange);
}
.green-gradient {
	@include gradient($green);
}
.light-blue-gradient {
	@include gradient($light_blue);
}
.blue-gradient {
	@include gradient($blue);
}
.pink-gradient {
	@include gradient($pink);
}
.yellow-gradient {
	@include gradient($yellow);
}
.purple-gradient {
	@include gradient($purple);
}
.black-gradient {
	@include gradient(#555);
	color: $white;
}

// Mission ===============================================================================
.mission-section {
	p {
		font-size: 1.2em;
		margin: 0;
	}
}

// Focus Areas ===========================================================================
.focus-area-blocks {
	font-size: 0.8em;

	.link-block {
		flex: auto;
		white-space: nowrap;
		padding: var(--small) 0;

		h1 {
			margin: 0;
		}
	}
}

// Partners ==============================================================================
.partners-grid {
	text-align: center;
}

.partner-link {
	display: inline-block;
	width: 50%;
	filter: grayscale(1);
	padding: var(--medium);
	transition: filter var(--transition);

	&:hover {
		filter: grayscale(0);
	}

	@media (min-width: $mobile) {
		width: 33.33%;
	}

	@media (min-width: $tablet) {
		width: 20%;
	}
}

.partner-img {
	width: 100%;
	height: auto;
}

// Email signup ==========================================================================
.signup-modal {
	@include shadow($light_gray, 2rem);

	display: none;

	$background: mix($white, $black, 90%);
	background: rgba($background, 0.95);
	background-image: linear-gradient($background, rgba($background, 0));
	position: fixed;
	left: var(--large);
	right: var(--large);
	bottom: 0;
	border-radius: var(--radius-large) var(--radius-large) 0 0;
	z-index: 200;
	color: $black;

	p {
		font-size: 0.9em;
	}

	@media (min-width: $tablet) {
		bottom: var(--large);
		border-radius: var(--radius-large);
		right: initial;
		max-width: 25em;
	}

	.close-signup-modal {
		position: absolute;
		color: $black;
		cursor: pointer;
		top: var(--large);
		right: var(--large);
		width: 1.5em;
		height: 1.5em;

		&:hover {
			color: red;
		}
	}

	.icon-close {
		width: 1.5em;
		height: 1.5em;
	}

	&.is-hidden {
		display: none;
	}
}

.email-signup {
	display: flex;
	align-items: center;
	padding-bottom: var(--small);

	input,
	button {
		@include shadow($light_gray, 1rem);
		background: $white;
		color: $black;
		border-radius: var(--radius);
	}

	&:hover {
		input,
		button {
			background: $white;
			color: $black;
		}
	}

	input {
		flex: 1;
		margin: 0 var(--small) 0 0;
	}

	button {
		@extend %no-select;
	}
}

// Videos ================================================================================
.videos-section {
	h1 + p {
		font-size: 1.2em;
	}
}

.videos-list {
	padding: 0 var(--large) var(--large);
	overflow: hidden;
}

.video-block {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: var(--large);
	vertical-align: top;
	text-decoration: none;

	@media (min-width: $tablet) {
		width: 16.666%;
	}

	&:hover,
	&:active,
	&:focus {
		.icon-youtube {
			opacity: 1;
		}
	}

	&:first-child {
		width: 100%;

		// .video-meta:before {
		// 	content: "Featured";
		// 	font-size: 0.8em;
		// 	text-transform: uppercase;
		// 	color: mix($black, $white, 40%);
		// 	border: thin solid $light_gray;
		// 	padding: 2px var(--small);
		// 	pointer-events: none;
		// 	border-radius: var(--radius);
		// }

		.video-title {
			font-weight: bold;
			font-size: 1.2em;
			line-height: 1.4;
			color: $blue_link;
			margin: var(--small) 0;
		}
		.video-description {
			font-size: 0.9em;
			color: $black;
		}

		@media (min-width: $tablet) {
			display: flex;
			align-items: center;

			.video-thumbnail {
				padding: 0;
				min-height: 15em;
			}

			.video-thumbnail,
			.video-meta {
				display: inline-block;
				flex: 1;
			}

			.video-meta {
				padding-left: var(--extra-large);
			}
		}
	}
}

.video-thumbnail {
	@include shadow($light_gray, 1em);
	position: relative;
	padding-bottom: 56%;
	background-color: $black;
	background-size: cover;
	background-position: center center;
	border-radius: var(--radius);

	.icon-youtube-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.icon-youtube {
		max-width: 5rem;
		width: 40%;
		height: auto;
		opacity: 0;
		transition: opacity var(--transition);
	}
}

.video-title {
	color: $black;
	hyphens: auto;
	transition: color var(--transition);
	margin: var(--medium) 0 0;

	.video-block:hover &,
	.video-block:active &,
	.video-block:focus & {
		color: $blue_link;
	}
}

// Publications page ===================================================================
.publications-page {
	p:after {
		// display: none;
		font-size: 0.8rem;
		padding: 0.1rem var(--small);
		margin: 0 0 0 var(--small);
		border-radius: var(--radius);
		pointer-events: none;
	}

	li:hover p:after {
		display: inline;
	}
}

.filter-publications {
	background: linear-gradient($white, $light_white);
}

.filter-button {
	border: thin solid $light_gray;
	background: $white;
	border-radius: var(--radius);
	cursor: pointer;
	padding: 0 var(--small);

	.icon-close {
		display: none;
	}

	&.is-filtering {
		.icon-close {
			display: inline-block;
		}
	}
}

// Stroke -----------------------
$stroke-color: tint($green, 50%);
.stroke-filter.is-filtering {
	background: $stroke-color;
}
.stroke-publication p:after {
	content: "Stroke";
	background: $stroke-color;
}
.show-stroke-filter {
	.brain-tumor-publication,
	.tbi-publication {
		display: none;
	}

	p:after {
		display: inline;
	}
}

// Brain Tumor -----------------------
$brain-tumor-color: tint($purple, 50%);
.brain-tumor-filter.is-filtering {
	background: $brain-tumor-color;
}
.brain-tumor-publication p:after {
	content: "Brain Tumor";
	background: $brain-tumor-color;
}
.show-brain-tumor-filter {
	.stroke-publication,
	.tbi-publication {
		display: none;
	}

	p:after {
		display: inline;
	}
}

// TBI -----------------------
$tbi-color: tint($yellow, 20%);
.tbi-filter.is-filtering {
	background: $tbi-color;
}
.tbi-publication p:after {
	content: "TBI";
	background: $tbi-color;
}
.show-tbi-filter {
	.brain-tumor-publication,
	.stroke-publication {
		display: none;
	}

	p:after {
		display: inline;
	}
}

// TBI ===================================================================================
@import "partials/tbi";

// Brain Survey ==========================================================================
@import "partials/brainsurvey";

// 404 Page ==============================================================================
.four-oh-four-section {
	text-align: center;

	.link-block {
		display: inline-block;
		font-size: 80%;
		margin: var(--large) 0 0;

		.container {
			padding: var(--small) var(--extra-large);
		}
	}
}

.four-oh-four-title {
	font-size: 4em;
}

// Footer ================================================================================
footer {
	text-align: center;
	opacity: 0.7;

	@media (min-width: $tablet) {
		text-align: left;
	}
}
