// Charset ===============================================================================
@charset "UTF-8";

// Normalize =============================================================================
@import "partials/normalize";
@import "partials/reset";
@import "partials/extensions";
@import "partials/functions";

// Variables =============================================================================
$white: #fff;
$black: #16161d;
$light_black: tint($black, 5%);
$lighter_black: tint($black, 10%);
$light_gray: rgba(mix($black, $white), 0.25);
$light_white: rgba($white, 0.1);

$blue_link: #147ace;
$purple_link: #9d13c1;

$blue: #2196f3;
$light_blue: #00bcd4;
$green: #37b055;
$orange: #ffa726;
$pink: #f06292;
$purple: #ba68c8;
$yellow: #ffeb3b;
$gray: #606670;

$mobile: 20rem;
$tablet: 40rem;
$desktop: 60rem;

// Mixins ================================================================================
@mixin shadow($color, $size) {
	box-shadow: 0 $size/4 $size $color;
}

@mixin gradient($color) {
	background-color: $color;
	background-image: linear-gradient(
		to bottom right,
		rgba($color, 0),
		adjust-hue(shade($color, 25%), -15%)
	);
}

.orange-gradient {
	@include gradient($orange);
}
.green-gradient {
	@include gradient($green);
}
.light-blue-gradient {
	@include gradient($light_blue);
}
.blue-gradient {
	@include gradient($blue);
}
.pink-gradient {
	@include gradient($pink);
}
.yellow-gradient {
	@include gradient($yellow);
}
.purple-gradient {
	@include gradient($purple);
}
.gray-gradient {
	@include gradient($gray);
}
.black-gradient {
	@include gradient(#555);
	color: $white;
}

:root {
	--root-size: 90%;

	--extra-large: 1.5rem;
	--large: 0.75rem;
	--medium: 0.5rem;
	--small: 0.25rem;

	--transition: 0.25s;
	--transition-hover: 0s;
	--transition-decorative: 1s;

	--radius: 0.25rem;
	--radius-large: 1rem;

	--sidebar-width: 20rem;

	@media (min-width: $tablet) {
		--root-size: 100%;

		--extra-large: 2rem;
		--large: 1rem;
		--medium: 0.75rem;
		--small: 0.35rem;
	}

	@media (prefers-reduced-motion: reduce) {
		--transition: 0s;
		--transition-hover: 0s;
		--transition-decorative: 0s;
	}
}

// Base Styles ===========================================================================
body {
	font-size: var(--root-size);
	font-family: Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
	color: $black;
	background: $white;
	// background-image: radial-gradient(
	// 		circle at top left,
	// 		transparent 0,
	// 		transparent 40%,
	// 		rgba($light_gray, 0.06) 0,
	// 		transparent 50%,
	// 		transparent 0
	// 	),
	// 	radial-gradient(
	// 		circle at bottom right,
	// 		transparent 0,
	// 		transparent 40%,
	// 		rgba($light_gray, 0.06) 0,
	// 		transparent 50%,
	// 		transparent 0
	// 	);
	min-height: 100vh;
}

section {
	padding: var(--large) 0;
	border-bottom: thin solid $light_gray;
}

.page-title {
	padding: var(--small) 0;
	border-top: thin solid $light_gray;
	border-bottom: thin solid $light_gray;
}

.container,
.wrapper {
	position: relative;
	max-width: $desktop;
	margin: 0 auto;
}

.container {
	padding: var(--large) var(--extra-large);
}

// Typography ============================================================================
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: var(--medium);
}

h3 {
	font-size: 1.2em;
	margin-bottom: var(--small);
}

h4 {
	font-weight: normal;
	font-size: 0.875em;
	line-height: 1rem;
}

p {
	margin-bottom: var(--medium);
}

a {
	color: $blue_link;

	&:visited {
		color: $purple_link;
	}
}

label {
	display: block;
}

ul,
li {
	margin-left: var(--large);
	list-style-type: square;
}

ul {
	margin-bottom: var(--large);
}

li {
	margin-bottom: var(--small);
}

input {
	display: block;
	font: inherit;
	padding: var(--small) var(--medium);
	border-radius: var(--radius);
	border: 0;
	transition: color var(--transition), background-color var(--transition);
}

button {
	background: transparent;
	font: inherit;
	border: 0;
}

.button {
	display: inline-block;
	padding: var(--small) var(--large);
	font-weight: bold;
	border-radius: var(--radius);
	transition: color var(--transition), background-color var(--transition);
	cursor: pointer;
}

// Icons =================================================================================
.icon {
	display: inline-block;
	vertical-align: baseline;
	width: 0.7em;
	height: 0.7em;
}

// Spinner ===============================================================================
.spinner-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.spinner {
	width: 50px;
	height: 50px;
	border: 2px solid;
	border-color: $white $white transparent transparent;
	border-radius: 50%;
	animation: spin 0.6s linear infinite;

	@keyframes spin {
		to {
			transform: rotate(1turn);
		}
	}
}

// Header ================================================================================
header {
	@media (min-width: $tablet) {
		font-size: 1.25em;
	}

	a {
		&,
		&:visited {
			color: $black;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}

.header-social-link {
	display: inline-block;
	vertical-align: middle;
	border-right: thin solid $light_gray;
	line-height: 2.5em;
	padding: 0 var(--medium);
	text-align: center;
	cursor: pointer;
	vertical-align: top;

	.icon {
		width: 1.25em;
		height: 1.25em;
		vertical-align: middle;
	}

	&:hover {
		background: $light_gray;
	}

	@media (min-width: $tablet) {
		&:nth-child(2) {
			border-right: 0;
		}
	}
}

// Logo ==================================================================================
.site-logo {
	@extend %no-select;

	display: inline-block;
	white-space: nowrap;
	font-weight: bold;
	line-height: 2.5em;

	a {
		color: $black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin-right: var(--small);

		@media (min-width: $tablet) {
			width: 2em;
			height: 2em;
		}
	}
}

// Nav toggle ============================================================================
.nav-toggle {
	@extend %no-select;

	display: inline-block;
	position: relative;
	font-weight: bold;
	padding: 0 var(--medium);
	line-height: 2.5em;
	cursor: pointer;
	float: right;
	vertical-align: top;

	&:hover {
		background: $light_gray;

		span {
			text-decoration: underline;
		}
	}

	span {
		display: none;

		@media (min-width: $tablet) {
			display: inline-block;
			margin: 0 var(--small) 0 0;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin: 0;
	}

	.icon-close {
		display: none;
	}

	.has-nav & {
		background: $light_gray;
		z-index: 200;
		position: relative;
		color: $white;

		.icon-menu {
			display: none;
		}
		.icon-close {
			display: inline-block;
		}
	}

	@media (min-width: $tablet) {
		display: none;
	}
}

// Navigation ============================================================================
.nav {
	ul,
	li {
		margin: 0;
	}

	li {
		list-style: none;
	}
}

.nav-link {
	display: inline-block;
	text-decoration: none;

	&[href="/XXXXXX"] {
		text-decoration: line-through;
		color: crimson;
	}

	&:hover {
		span {
			text-decoration: underline;
		}
	}
}

.primary-nav-items {
	.main-nav-link {
		font-weight: bold;
	}
}

@media (max-width: $tablet) {
	.nav {
		display: flex;
		position: fixed;
		z-index: 100;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		pointer-events: none;
		opacity: 0;
		transition: var(--transition);
		background: rgba($white, 0.8);

		.has-nav & {
			pointer-events: initial;
			opacity: 1;
		}
	}

	.nav-spacer {
		flex: 1;
	}

	.nav-menu {
		width: 80%;
		background: $lighter_black;
		overflow-y: auto;
		transform: translate(var(--large));
		transition: transform var(--transition);

		.has-nav & {
			transform: none;
		}

		li {
			ul {
				margin: 0 0 0 var(--small);
				padding: 0 0 0 var(--large);
				border-left: thin solid $light_gray;
			}
		}
	}

	.nav-group {
		padding: var(--small) 0;
	}

	.nav-link {
		padding: 0.25em var(--small);
		border-bottom: thin solid $light_gray;

		&,
		&:visited {
			color: $white;
		}

		.icon-dchev {
			display: none;
		}
	}

	.secondary-nav-items {
		.main-nav-link {
			font-size: 0.9em;
		}
	}
}

@media (min-width: $tablet) {
	.nav {
		position: relative;
		background: $lighter_black;

		.container {
			padding: 0 var(--extra-large);
		}
	}
	.nav-list {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	.nav-group {
		display: inline-block;
		position: relative;

		&:hover {
			background: $light_black;
		}
	}

	.nav-subgroup {
		display: none;
		position: absolute;
		left: 0;
		min-width: 22em;
		z-index: 100;
		border-radius: 0 0 var(--radius) var(--radius);
		overflow: hidden;
		background: $light_black;

		.nav-group:hover & {
			display: block;
			box-shadow: 0 0.5em 1em $light_gray;
		}

		.secondary-nav-items .nav-group:last-child & {
			right: 0;
			left: initial;
		}
	}

	.nav-link {
		display: block;
		padding: var(--medium) var(--large);

		&,
		&:visited {
			color: $white;
		}

		&:not(.main-nav-link):hover {
			background: $black;
		}

		.icon-rarr {
			display: none;
		}
	}

	.discover-page .main-nav-link[href^="/discover"] {
		box-shadow: inset 0 var(--small) $light_blue;
		background: $black;
	}
	.translate-page .main-nav-link[href^="/translate"] {
		box-shadow: inset 0 var(--small) $orange;
		background: $black;
	}
	.care-page .main-nav-link[href^="/care"] {
		box-shadow: inset 0 var(--small) $blue;
		background: $black;
	}
	.scientific-products-page .main-nav-link[href^="/scientific-products"],
	.in-the-news-page .main-nav-link[href^="/in-the-news"],
	.join-page .main-nav-link[href^="/join"],
	.data-consortium-page .main-nav-link[href^="/data-consortium"] {
		box-shadow: inset 0 var(--small) tint($gray, 25%);
		background: $black;
	}
}

// Elements ==============================================================================
.page-hero {
	position: relative;
	color: $white;

	@extend .gray-gradient;

	.discover-page & {
		@extend .light-blue-gradient;
	}
	.translate-page & {
		@extend .orange-gradient;
	}
	.care-page & {
		@extend .blue-gradient;
	}

	h1 {
		font-size: 2.5em;
		line-height: 1;
	}

	p {
		font-size: 1.2em;
		font-weight: normal;
		margin: var(--medium) 0 0;

		@media (min-width: $desktop) {
			max-width: 70%;
		}
	}

	@media (min-width: $tablet) {
		padding-bottom: 6rem;

		& + .page-content {
			margin-top: -6em;

			.container {
				background: $white;
				min-height: 10em;
				padding-top: var(--extra-large);
			}
		}

		.container {
			padding: var(--extra-large);
		}
	}
}

.page-subhero {
	padding: 0;

	p {
		margin: 0;
	}
}

// Mission ===============================================================================
.mission-section {
	p {
		font-size: 1.2em;
		margin: 0;
	}
}

// Focus Areas ===========================================================================
.focus-area-blocks {
	font-size: 0.8em;

	.link-block {
		flex: auto;
		white-space: nowrap;
		padding: var(--small) 0;

		h1 {
			margin: 0;
		}
	}
}

// Partners ==============================================================================
.partners-grid {
	// text-align: center;
	overflow: hidden;
}

.partner-wrapper {
	display: flex;
	align-items: center;
	margin: 0 0 var(--large);

	&:last-child {
		margin: 0;
	}

	@media (min-width: $desktop) {
		width: 50%;
		float: left;
	}
}

.partner-img {
	width: 8em;
	height: auto;
	margin-right: var(--large);
}
.partner-meta {
	flex: 1;
	border-left: thin solid $light_gray;
	padding: 0 var(--medium);
}

.partner {
	margin: var(--large) var(--medium);
}

.partner-name,
.partner-title {
	display: block;
	text-decoration: none;

	&,
	&:visited {
		color: $black;
	}
}

.partner-name {
	font-weight: bold;
}
.partner-title {
	font-size: 0.9em;
}

// Email signup ==========================================================================
.signup-modal {
	@include shadow($light_gray, 2rem);

	display: none;

	$background: mix($white, $black, 90%);
	background: rgba($background, 0.95);
	background-image: linear-gradient($background, rgba($background, 0));
	position: fixed;
	left: var(--large);
	right: var(--large);
	bottom: 0;
	border-radius: var(--radius-large) var(--radius-large) 0 0;
	z-index: 200;
	color: $black;

	p {
		font-size: 0.9em;
	}

	@media (min-width: $tablet) {
		bottom: var(--large);
		border-radius: var(--radius-large);
		right: initial;
		max-width: 25em;
	}

	.close-signup-modal {
		position: absolute;
		color: $black;
		cursor: pointer;
		top: var(--large);
		right: var(--large);
		width: 1.5em;
		height: 1.5em;

		&:hover {
			color: red;
		}
	}

	.icon-close {
		width: 1.5em;
		height: 1.5em;
	}

	&.is-hidden {
		display: none;
	}
}

.email-signup {
	display: flex;
	align-items: center;
	padding-bottom: var(--small);

	input,
	button {
		@include shadow($light_gray, 1rem);
		background: $white;
		color: $black;
		border-radius: var(--radius);
	}

	&:hover {
		input,
		button {
			background: $white;
			color: $black;
		}
	}

	input {
		flex: 1;
		margin: 0 var(--small) 0 0;
	}

	button {
		@extend %no-select;
	}
}

// Videos ================================================================================
.videos-section {
	h1 + p {
		font-size: 1.2em;
	}
}

.videos-list {
	padding: 0 var(--large) var(--large);
	overflow: hidden;
}

.video-block {
	display: inline-block;
	float: left;
	width: 33.33%;
	padding: var(--large);
	vertical-align: top;
	text-decoration: none;

	@media (min-width: $tablet) {
		width: 16.666%;
	}

	&:hover,
	&:active,
	&:focus {
		.icon-youtube {
			opacity: 1;
		}
	}

	&:first-child {
		width: 100%;

		.video-title {
			font-weight: bold;
			font-size: 1.2em;
			line-height: 1.4;
			color: $blue_link;
			margin: var(--small) 0;
		}
		.video-description {
			font-size: 0.9em;
			color: $black;
		}

		@media (min-width: $tablet) {
			display: flex;
			align-items: center;

			.video-thumbnail {
				padding: 0;
				min-height: 15em;
			}

			.video-thumbnail,
			.video-meta {
				display: inline-block;
				flex: 1;
			}

			.video-meta {
				padding-left: var(--extra-large);
			}
		}
	}
}

.video-thumbnail {
	@include shadow($light_gray, 1em);
	position: relative;
	padding-bottom: 56%;
	background-color: $black;
	background-size: cover;
	background-position: center center;
	border-radius: var(--radius);

	.icon-youtube-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.icon-youtube {
		max-width: 5rem;
		width: 40%;
		height: auto;
		opacity: 0;
		transition: opacity var(--transition);
	}
}

.video-title {
	color: $black;
	hyphens: auto;
	transition: color var(--transition);
	margin: var(--medium) 0 0;

	.video-block:hover &,
	.video-block:active &,
	.video-block:focus & {
		color: $blue_link;
	}
}

// Publications page ===================================================================
.publications-page {
	.page-hero p {
		max-width: initial;
	}
	li p:after {
		font-size: 0.8rem;
		padding: 0.1rem var(--small);
		margin: 0 0 0 var(--small);
		border-radius: var(--radius);
		pointer-events: none;
		background: $light_gray;
	}
}

.filter-publications {
	font-size: 0.6em;
}

.filter-button {
	font-size: 0.8em;
	font-weight: bold;
	border: 0;
	background: rgba($black, 0.3);
	color: $white;
	border: 0;
	border-radius: var(--radius);
	cursor: pointer;
	padding: var(--small) var(--medium);
	transition: background-color var(--transition);

	&:hover {
		background: rgba($black, 0.6);
	}

	&:focus {
		outline: 0;
		box-shadow: inset 0 0 0 2px rgba($white, 0.5);
	}

	.icon-close {
		display: none;
	}

	&.is-filtering {
		.icon-close {
			display: inline-block;
		}
	}
}

// Stroke -----------------------
.show-stroke-filter {
	.page-content li:not(.stroke-publication) {
		display: none;
	}
}

// Brain Tumor -----------------------
.show-brain-tumor-filter {
	.page-content li:not(.brain-tumor-publication) {
		display: none;
	}
}

// TBI -----------------------
.show-tbi-filter {
	.page-content li:not(.tbi-publication) {
		display: none;
	}
}

.stroke-filter.is-filtering,
.brain-tumor-filter.is-filtering,
.tbi-filter.is-filtering {
	background: $black;
	color: $white;
}

.stroke-publication p:after {
	content: "Stroke";
}
.brain-tumor-publication p:after {
	content: "Brain Tumor";
}
.tbi-publication p:after {
	content: "TBI";
}

// Form ===================================================================
.flex-form-container {
	@media (min-width: $tablet) {
		display: flex;
		flex-wrap: wrap;
	}
}

.form-aside {
	flex: 1 0 15em;
	margin-right: var(--extra-large);

	p {
		font-size: 0.9em;
	}
}

.form {
	flex: 1 0 30em;
	background: $light_gray;
	border-radius: var(--radius);

	section {
		margin: 0;
		padding: var(--large);

		&:last-child {
			border: 0;
		}
	}
	label {
		cursor: pointer;
	}

	input[type="text"],
	input[type="email"],
	textarea {
		display: block;
		width: 100%;
		border: thin solid $light_gray;
		background: $white;
	}
	input[type="radio"] {
		display: inline-block;
		margin-right: var(--medium);
	}

	button[type="submit"] {
		color: $white;
		padding: var(--medium) var(--large);
	}

	textarea {
		resize: vertical;
	}
}

// TBI ===================================================================================
@import "partials/tbi";

// Brain Survey ==========================================================================
@import "partials/brainsurvey";

// 404 Page ==============================================================================
.four-oh-four-section {
	text-align: center;

	.link-block {
		display: inline-block;
		font-size: 80%;
		margin: var(--large) 0 0;

		.container {
			padding: var(--small) var(--extra-large);
		}
	}
}

.four-oh-four-title {
	font-size: 4em;
}

// Footer ================================================================================
footer {
	text-align: center;
	opacity: 0.7;

	@media (min-width: $tablet) {
		text-align: left;
	}
}
