// Charset ===============================================================================
@charset "UTF-8";

// Normalize =============================================================================
@import "partials/normalize";
@import "partials/reset";
@import "partials/extensions";
@import "partials/functions";

// Mixins ================================================================================
@mixin shadow($color, $size) {
	box-shadow: 0 $size/4 $size $color;
}

@mixin gradient($start, $end) {
	@include shadow(rgba($start, 0.3), 2rem);
	background-color: $start;
	background-image: linear-gradient(to top left, rgba($start, 0), $end);

	&.link-block:hover {
		@include shadow(rgba($start, 0.6), 2rem);
		background-color: shade($start, 25%);

		.button:hover {
			color: shade($start, 25%);
		}
	}
}

// Variables =============================================================================
$white: #ffffff;
$black: #16161d;
$light_black: tint($black, 10%);
$light_gray: rgba(mix($black, $white), 0.2);
$light_white: rgba($white, 0.1);

$blue: #147ace;
$purple: #9d13c1;

$mobile: 20rem;
$tablet: 40rem;
$desktop: 60rem;

$inferno-array: #000004, #160b39, #420a68, #6a176e, #932667, #ba3655, #dd513a,
	#f3761b, #fca50a, #f6d746, #f6d746;
$rainbow-array: #6e40aa, #be3caf, #fe4b83, #ff7747, #e3b62f, #b0ef5a, #53f666,
	#1edfa2, #23acd8, #4c6fdc, #4c6fdc;

$spectral-array: #9e0142, #d13b4b, #f0704a, #fcab63, #fedc8c, #fbf8b0, #e0f3a1,
	#aadda2, #69bda9, #4288b5, #4288b5;

$color-array: $spectral-array;

:root {
	--root-size: 90%;

	--extra-large: 1.5rem;
	--large: 0.75rem;
	--medium: 0.5rem;
	--small: 0.25rem;

	--transition: 0.25s;
	--transition-hover: 0s;
	--transition-decorative: 1s;

	--radius: 0.25rem;
	--radius-large: 1rem;

	--sidebar-width: 20rem;

	@media (min-width: $tablet) {
		--root-size: 100%;

		--extra-large: 2rem;
		--large: 1rem;
		--medium: 0.75rem;
		--small: 0.35rem;
	}

	@media (prefers-reduced-motion: reduce) {
		--transition-decorative: 0s;
		--transition: 0s;
		--transition-hover: 0s;
	}
}

// Base Styles ===========================================================================
body {
	font-size: var(--root-size);
	font-family: Source Sans Pro, Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
	color: $black;
	background: $white;
	background-image: radial-gradient(
			circle at top left,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		),
		radial-gradient(
			circle at bottom right,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		);
	min-height: 100vh;
}

section {
	padding: var(--large) 0;
	border-bottom: thin solid $light_gray;

	&:last-of-type {
		border-bottom: 0;
	}
}

.container,
.wrapper {
	position: relative;
	max-width: $desktop;
	margin: 0 auto;
}

.container {
	padding: var(--large) var(--extra-large);
}

// Typography ============================================================================
h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1.8em;
	margin-bottom: var(--medium);
}

h3 {
	font-size: 1.2em;
	margin-bottom: var(--small);
}

h4 {
	font-weight: normal;
	font-size: 0.875em;
	line-height: 1rem;
}

p {
	margin-bottom: var(--medium);
}

a {
	color: $blue;

	&:visited {
		color: $purple;
	}
}

ul,
li {
	margin-left: var(--large);
	list-style-type: square;
}

ul {
	margin-bottom: var(--large);
}

li {
	margin-bottom: var(--small);
}

input {
	display: block;
	font: inherit;
	padding: var(--small) var(--medium);
	border-radius: var(--radius);
	border: 0;
	transition: color var(--transition), background-color var(--transition);
}

button {
	background: transparent;
	font: inherit;
	border: 0;
}

.button {
	display: inline-block;
	padding: var(--small) var(--large);
	font-weight: bold;
	border-radius: 2em;
	transition: color var(--transition), background-color var(--transition);
	cursor: pointer;
}

.split {
	@media (min-width: $tablet) {
		display: flex;
		align-items: flex-start;

		.stretch {
			flex: 1;
			padding-left: var(--extra-large);
		}
	}
}

// Icons =================================================================================
.icon {
	display: inline-block;
	vertical-align: baseline;
	width: 0.7em;
	height: 0.7em;
}

// Header ================================================================================
header {
	border-bottom: thin solid $light_gray;

	@media (min-width: $tablet) {
		font-size: 1.25em;
	}

	a {
		&,
		&:visited {
			color: $black;
		}
	}

	.container {
		display: flex;
		justify-content: space-between;
	}
}

.right-header-content {
}

.header-social-link {
	display: inline-block;
	vertical-align: middle;
	border-right: thin solid $light_gray;
	line-height: 2.5em;
	padding: 0 var(--medium);
	text-align: center;
	cursor: pointer;
	vertical-align: top;

	.icon {
		width: 1.25em;
		height: 1.25em;
		vertical-align: middle;
	}

	&:hover {
		background: $light_gray;
	}
}

// Logo ==================================================================================
.site-logo {
	@extend %no-select;

	display: inline-block;
	white-space: nowrap;
	font-weight: bold;
	line-height: 2.5em;

	a {
		color: $black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin-right: var(--small);

		@media (min-width: $tablet) {
			width: 2em;
			height: 2em;
		}
	}
}

// Navigation ============================================================================
.nav-toggle {
	@extend %no-select;

	display: inline-block;
	position: relative;
	font-weight: bold;
	padding: 0 var(--medium);
	line-height: 2.5em;
	cursor: pointer;
	float: right;
	vertical-align: top;
	border-radius: var(--radius);

	&:hover {
		background: $light_gray;

		span {
			text-decoration: underline;
		}
	}

	span {
		display: none;

		@media (min-width: $tablet) {
			display: inline-block;
			margin: 0 var(--small) 0 0;
		}
	}

	.icon {
		width: 1.5em;
		height: 1.5em;
		vertical-align: middle;
		margin: 0;
	}

	.icon-close {
		display: none;
	}

	.has-nav & {
		background: $light_gray;

		.icon-menu {
			display: none;
		}
		.icon-close {
			display: inline-block;
		}
	}
}

.nav-menu {
	display: none;
	color: $white;
	background-color: $black;
	background-image: radial-gradient(
			circle at top right,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		),
		radial-gradient(
			circle at bottom left,
			transparent 0,
			transparent 40%,
			rgba($light_gray, 0.06) 0,
			transparent 50%,
			transparent 0
		);

	.has-nav & {
		display: block;
	}

	ul,
	li {
		margin: 0;
	}

	ul {
		border-left: var(--small) solid $light_gray;
		margin: var(--medium) 0;
	}

	li {
		list-style: none;

		ul {
			margin-left: var(--medium);

			a {
				font-weight: normal;
			}
		}
	}

	a {
		display: block;
		font-weight: bold;
		color: $white;
		padding: var(--small) var(--medium);
		margin: 0 var(--medium);
		text-decoration: none;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}
}

.nav-menu {
	.discover-nav {
		border-color: #fb8c00;
	}
	.educate-nav {
		border-color: #8bc34a;
	}
	.translate-nav {
		border-color: #00acc1;
	}
	.stroke-nav {
		border-color: #ec407a;
	}
	.brain-tumors-nav {
		border-color: #ffc107;
	}
	.tbi-nav {
		border-color: #ab47bc;
	}
}

.orange-gradient {
	@include gradient(#d84315, #fb8c00);
}
.green-gradient {
	@include gradient(#43a047, #8bc34a);
}
.blue-gradient {
	@include gradient(#1976d2, #00acc1);
}
.pink-gradient {
	@include gradient(#d84315, #ec407a);
}
.yellow-gradient {
	@include gradient(#f57c00, #ffc107);
}
.purple-gradient {
	@include gradient(#5e35b1, #ab47bc);
}

// Elements ==============================================================================
.page-hero,
.link-block {
	display: block;

	&,
	&:visited {
		color: $white;
	}

	.split {
		align-items: center;
	}

	h1 {
		font-size: 2em;
		line-height: 1;
		margin: var(--large) 0;
	}

	p {
		font-weight: normal;
	}
}

.page-hero {
	p {
		font-size: 1.2em;
	}

	@media (min-width: $tablet) {
		.container {
			padding: var(--extra-large);
		}

		p {
			font-size: 1.4em;
			margin: 0 0 0 var(--extra-large);
		}
	}
}

.link-blocks {
	position: relative;
	z-index: 10;

	@media (min-width: $desktop) {
		display: flex;
	}
}

.link-block {
	border-radius: var(--radius-large);
	margin: 0 0 var(--medium);
	text-decoration: none;
	flex: 1;
	transition: box-shadow var(--transition), transform var(--transition),
		background-color var(--transition);

	@media (min-width: $desktop) {
		transform: scale(1);
		margin: 0 var(--large) 0 0;

		&:last-child {
			margin-right: 0;
		}
	}

	&:hover {
		@media (min-width: $desktop) {
			transform: scale(1.02);
		}
	}

	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.button {
		align-self: flex-start;
		background: rgba($white, 0.1);
		margin-bottom: var(--medium);
	}

	&:hover .button {
		background: rgba($white, 0.2);

		&:hover {
			background: $white;
		}
	}
}

// Gradients =============================================================================
.black-gradient {
	@include gradient(#555, #222);
	color: $white;
}
.orange-gradient {
	@include gradient(#d84315, #fb8c00);
}
.green-gradient {
	@include gradient(#43a047, #8bc34a);
}
.blue-gradient {
	@include gradient(#1976d2, #00acc1);
}
.pink-gradient {
	@include gradient(#d84315, #ec407a);
}
.yellow-gradient {
	@include gradient(#f57c00, #ffc107);
}
.purple-gradient {
	@include gradient(#5e35b1, #ab47bc);
}

// Mission ===============================================================================
.mission-section {
	p {
		font-size: 1.5em;
	}
}

// Focus Areas ===========================================================================
.focus-area-blocks {
	font-size: 0.8em;

	.link-block {
		flex: auto;
		white-space: nowrap;
		padding: var(--small) 0;

		h1 {
			margin: 0;
		}
	}
}

// Partners ==============================================================================
.partners-grid {
	text-align: center;
}

.partner-link {
	display: inline-block;
	width: 50%;
	filter: grayscale(1);
	padding: var(--medium);
	transition: filter var(--transition);

	&:hover {
		filter: grayscale(0);
	}

	@media (min-width: $mobile) {
		width: 33.33%;
	}

	@media (min-width: $tablet) {
		width: 20%;
	}
}

.partner-img {
	width: 100%;
	height: auto;
}

// Email signup ==========================================================================
.signup-modal {
	@include shadow($light_gray, 2rem);

	$background: mix($white, $black, 90%);
	background: rgba($background, 0.95);
	background-image: linear-gradient($background, rgba($background, 0));
	position: fixed;
	left: var(--large);
	right: var(--large);
	bottom: 0;
	border-radius: var(--radius-large) var(--radius-large) 0 0;
	z-index: 200;
	color: $black;

	p {
		font-size: 0.9em;
	}

	@media (min-width: $tablet) {
		bottom: var(--large);
		border-radius: var(--radius-large);
		right: initial;
		max-width: 25em;
	}

	.close-signup-modal {
		position: absolute;
		color: $black;
		cursor: pointer;
		top: var(--large);
		right: var(--large);
		width: 1.5em;
		height: 1.5em;

		&:hover {
			color: red;
		}
	}

	.icon-close {
		width: 1.5em;
		height: 1.5em;
	}

	&.is-hidden {
		display: none;
	}
}

.email-signup {
	display: flex;
	align-items: center;
	padding-bottom: var(--small);

	input,
	button {
		@include shadow($light_gray, 1rem);
		background: $white;
		color: $black;
		border-radius: var(--radius);
	}

	&:hover {
		input,
		button {
			background: $white;
			color: $black;
		}
	}

	input {
		flex: 1;
		margin: 0 var(--small) 0 0;
	}

	button {
		@extend %no-select;
	}
}

// Videos ================================================================================
.videos-list {
	padding: 0 var(--large) var(--large);
}

.video-block {
	display: inline-block;
	width: 33.33%;
	padding: var(--large);
	vertical-align: top;
	text-decoration: none;

	@media (min-width: $tablet) {
		width: 25%;
	}

	@media (min-width: ($tablet + $desktop)/2) {
		width: 20%;
	}

	&:hover,
	&:active,
	&:focus {
		.icon-youtube {
			opacity: 1;
		}
	}
}

.video-thumbnail {
	@include shadow($light_gray, 1em);
	position: relative;
	padding-bottom: 56%;
	background-color: $black;
	background-size: cover;
	background-position: center center;
	border-radius: var(--radius);
	margin: 0 0 var(--small);

	.icon-youtube-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.icon-youtube {
		width: 40%;
		height: auto;
		opacity: 0;
		transition: opacity var(--transition);
	}
}

.video-title {
	color: $black;
	hyphens: auto;
	transition: color var(--transition);

	.video-block:hover &,
	.video-block:active &,
	.video-block:focus & {
		color: $blue;
	}
}

// TBI ===================================================================================
@import "partials/tbi";

// Brain Survey ==========================================================================
@import "partials/brainsurvey";

// Brain Survey ==========================================================================
.four-oh-four-section {
	text-align: center;

	.link-block {
		display: inline-block;
		font-size: 80%;
		margin: var(--large) 0 0;

		.container {
			padding: var(--small) var(--extra-large);
		}
	}
}

.four-oh-four-title {
	font-size: 4em;
}

// Footer ================================================================================
footer {
	border-top: thin solid $light_gray;
	margin-top: var(--large);
	text-align: center;
	opacity: 0.5;

	@media (min-width: $tablet) {
		text-align: left;
	}
}
