include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Join | The Open Brain Project", "Connecting patients who have questions to answers, students to educational resources, and scientists to the latest tools for advancing knowledge and care.")
body.join-page
	+header()
	main
		section.page-hero
			.container
				h1 Join
				p Contribute to The Open Brain Project
		main.page-content
			section
				.container
	
	+footer()