include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Join", "Join the Open Brain Project to contribute data or receive updates")
body.join-page
	+header()
	section.page-hero
		.container
			h1 Join
			p Join the Open Brain Project to receive updates or contribute data
	main.page-content
		section
			.container.flex-form-container
				aside.form-aside
					p The Open Brain Project is a resource for patients, clinicians, scientists and students. 
					p It is designed to serve as a hub to facilitate research into how brain injury affects cognitive, sensory and motor function. 
					p If you have data, publications, news releases, patient videos, or experimental resources to contribute, or if you would like to sign up to receive our newsletter, please enter your email address. 
					p We do not share email addresses with any third party, and will contact you with additional information according to the options you select. 
				form.form(name="join", method="POST", data-netlify="true", action="/join/success")
					section.split
						label
							| First Name:
							input(type="text", name="first_name", required)
						label
							| Last Name:
							input(type="text", name="last_name", required)
					section
						label
							| Your Email:
							input(type="email", name="email", required)
					section.i-am
						| I am a:
						label.checkbox-wrapper
							input(type="checkbox", id="scientist", value="scientist" name="i_am_a_scientist")
							| Scientist
						label.checkbox-wrapper
							input(type="checkbox", id="clinician", value="clinician" name="i_am_a_clinician")
							| Clinician
						label.checkbox-wrapper
							input(type="checkbox", id="patient_or_family", value="patient_or_family" name="i_am_a_patient_or_family")
							| A patient or a family member of a patient
						label.checkbox-wrapper
							input(type="checkbox", id="just_interested", value="just_interested" name="i_am_a_just_interested")
							| Simply interested to learn more
					section
						label
							| Institutional Affiliation (if applicable):
							input(type="text", name="institutional_affiliation")
					section
						label
							| Country:
							input(type="text", name="country")
					section.i-want-to
						| I would like to:
						label.checkbox-wrapper
							input(type="checkbox", id="sign_up_for_email_newsletter", value="sign_up_for_email_newsletter", name="i_would_like_to_sign_up_for_email_newsletter")
							| Sign up for email newsletter
						label.checkbox-wrapper
							input(type="checkbox", id="contribute_mri", value="contribute_mri", name="i_would_like_to_contribute_mri")
							| Contribute MRI data
						label.checkbox-wrapper
							input(type="checkbox", id="contribute_behavioral", value="contribute_behavioral", name="i_would_like_to_contribute_behavioral")
							| Contribute behavioral data
						label.checkbox-wrapper
							input(type="checkbox", id="share_experimental_protocols", value="share_experimental_protocols", name="i_would_like_to_share_experimental_protocols")
							| Share experimental protocols or materials
						label.checkbox-wrapper
							input(type="checkbox", id="post_videos", value="post_videos", name="i_would_like_to_post_videos")
							| Post videos of neuropsychological studies of patients
						label.checkbox-wrapper
							input(type="checkbox", id="upload_data", value="upload_data", name="i_would_like_to_upload_data")
							| Upload data from my helmet-worn accelerometer
					section
						button.button.green-gradient(type="submit") Join
	+footer()