include ./_svg

mixin footer()
	footer.footer-wrapper
		.container
			small &copy; 2019 Brad Mahon of BrainSurvey, LLC &bull; <a href="https://github.com/bennettfeely/openbrainproject">GitHub</a>
	+svg()
