include ./_svg

mixin footer()
	footer
		.container
			.copyright 
				| &copy; 2019 Brad Mahon of BrainSurvey, LLC
			.social
				| Follow us
				a.social-link.facebook-icon(href="")
					+icon("facebook")
				a.social-link.twitter-icon(href="")
					+icon("twitter")
	+svg()
