include ./_icon
include ./_nav

mixin header(pageHeaderTitle)
	header
		.container
			.site-logo
				a(href="/")
					+icon("brain")
					| The Open Brain Project
				span.slug= pageHeaderTitle
			.nav-toggle
				span Menu
				+icon("menu-icon")