include ./_icon
include ./_nav

mixin header()
	header
		.container
			.site-logo
				a(href="/")
					+icon("brain")
					| The Open Brain Project
			.right-header-content
				a.header-social-link(href="https://twitter.com")
					+icon("twitter")
				a.header-social-link(href="https://facebook.com")
					+icon("facebook")
				button.nav-toggle(onClick="toggleNav()")
					span Menu
					+icon("menu")
					+icon("close")
	+nav()
	script
		| var html = document.querySelector("html");
		| function addNav() { html.classList.add("has-nav"); }
		| function removeNav() { html.classList.remove("has-nav"); }
		| function toggleNav() { html.classList.toggle("has-nav"); }
