include ./_icon

mixin nav()
	nav.nav-menu
		.container
			ul.discover-nav
				li 
					a(href="/discover") Discover
					ul
						li
							a(href="/discover#news") News
						li
							a(href="/discover#scientific-products") Scientific Products
						li
							a(href="/discover#resources-for-scientists") Resources for Scientists
						li
							a(href="/discover#data-sets") Data Sets
			ul.educate-nav
				li
					a(href="/educate") Educate
					ul
						li
							a(href="/brainsurvey") Brain Survey
			ul.translate-nav
				li
					a(href="/translate") Translate
			ul.stroke-nav
				li
					a(href="/stroke") Stroke
			ul.brain-tumors-nav
				li
					a(href="/brain-tumors") Brain Tumors
			ul.tbi-nav
				li
					a(href="/tbi") Traumatic Brain Injury