include ./_icon

mixin nav()
	nav.nav-menu
		.container
			ul
				li 
					a(href="/discover") Discover
					ul
						li
							a(href="/discover#news") News
						li
							a(href="/discover#scientific-products") Scientific Products
						li
							a(href="/discover#resources-for-scientists") Resources for Scientists
						li
							a(href="/discover#data-sets") Data Sets
				li
					a(href="/educate") Educate
				li
					a(href="/translate") Translate
			ul
				li
					a(href="/stroke") Stroke
				li
					a(href="/brain-tumors") Brain Tumors
				li
					a(href="/tbi") Traumatic Brain Injury
