include ./_icon

mixin nav()
	nav
		.container
			ul
				li Discover
					ul
						li News
						li Scientific Products
						li Resources for Scientists
						li Data Sets
				li Educate
				li Translate
			ul
				li Stroke
				li Brain Tumors
				li Traumatic Brain Injury
			
