include ./_icon

mixin signup()
	.signup-modal
		.container
			h1 Sign Up for Updates
			p Stay up to date with the latest news from The Open Brain Project
			label.email-signup
				input(type="email", placeholder="Your email")
				button.button.email-subscribe Subscribe
			.close-signup-modal
				+icon("close")
	script
		| document.querySelector(".close-signup-modal").addEventListener("click", function() {
		| document.querySelector(".signup-modal").style.display = "none";
		| });