include ./_icon

mixin slice_tool()
	.slice-tool.container.is-hidden
		h2.slice-tool-title
		.slice-tool-axes
			.slice-button-wrapper
				input(type="radio", value="x", id="x_axis_slice", onchange="settings.slice.axis='x'", name="slice_axis")
				label.button.slice-button.x-axis-toggle(for="x_axis_slice") X
			.slice-button-wrapper
				input(type="radio", value="y", id="y_axis_slice", onchange="settings.slice.axis='y'", name="slice_axis")
				label.button.slice-button.y-axis-toggle(for="y_axis_slice") Y
			.slice-button-wrapper
				input(type="radio", value="z", id="z_axis_slice", onchange="settings.slice.axis='z'", name="slice_axis")
				label.button.slice-button.z-axis-toggle(for="z_axis_slice") Z
		input.slice-range(type="range", min="-1", max="1", value="0", step="0.01")
		button.button.slice-button.close-slice-tool(onclick="hideSliceTool();")
			+icon("close-icon")
			| Close