include ../_partials/_head
include ../_partials/_header
include ../_partials/_svg
include ../_partials/_icon
include ../_partials/_footer

+head("Media")
body.media-page
	+header()
	section.page-hero
		.container
			h1 Media 
			p 
				| Latest news from The Open Brain Project. <a href="/join"><svg class="icon icon-join"><use xlink:href="#join"></use></svg>Join the Open Brain Project</a> to receive information about how to post popular press coverage relevant to the mission of the Open Brain Project.
	main.page-content
		section
			.container
				h3 New research documents a type of brain damage that can occur in football players in the absence of concussion
				:marked
					* [Wired: The NFL's Helmet Tests Are Brainless](https://www.wired.com/story/the-nfls-helmet-tests-are-brainless/)
					* [The New York Times: Football May Take a Toll on the Brain, Even Without Concussions](https://www.nytimes.com/2019/08/14/well/move/football-may-take-a-toll-on-the-brain-even-without-concussions.html)
					* [ScienceMag: Just one season of playing football—even without a concussion—can cause brain damage](https://www.sciencemag.org/news/2019/08/just-one-season-playing-football-even-without-concussion-can-cause-brain-damage)
					* [Science Friday: Diving Headfirst Into Football Season With A New Look At Concussion Research](https://www.sciencefriday.com/segments/diving-headfirst-into-football-season-with-a-new-look-at-concussion-research/)
				details
					summary Show more
					:marked
						* [Wired: Football’s Concussion Crisis Is Awash With Pseudoscience](https://www.wired.com/story/footballs-concussion-crisis-is-awash-with-pseudoscience/)
						* [The Guardian: Rob Gronkowski was dangerously wrong when he says CTE is 'fixable'](https://www.theguardian.com/sport/2019/sep/26/rob-gronkowski-was-dangerously-wrong-when-he-says-cte-is-fixable)
						* [U.S. News &amp; World Report: Sub-Concussive Hits Cause Minor Brain Damage in College Athletes](https://www.usnews.com/news/healthiest-communities/articles/2019-08-07/study-sub-concussive-hits-cause-minor-brain-damage-in-college-athletes)
						* [DailyMail: Stop focusing on concussions: Any head hits to football players can severely damage the brain and lead to CTE— whether they are concussed or not, study finds](https://www.dailymail.co.uk/health/article-7334101/ANY-head-hits-football-players-severely-damage-brain-concussed-not.html)
						* [MEAWW: Concussion not the only problem in football: New study shows that even routine hits can cause structural damage to brain](https://meaww.com/football-head-trauma-concussion-not-big-ones-routine-football-hits-game-brain-damage)
						* [Rochester Democrat and Chronicle: New research finds it's not just the big hits that damage football players' brains](https://www.democratandchronicle.com/story/news/education/2019/08/08/university-rochester-study-football-concussion-midbrain-mahon/1954249001/)
						* [HealthDay: Steady Stream of Lesser Head Hits in Football Can Still Damage Brain](https://consumer.healthday.com/head-and-neck-information-17/head-injury-news-344/steady-stream-of-lesser-head-hits-in-football-can-still-damage-brain-749134.html)
						* [Earth.com: Even routine hits from playing football can cause serious brain damage](https://www.earth.com/news/routine-hits-football-brain-damage/)
				h3 Vision recovery after stroke affecting visual cortext
				:marked
					* [New Study Reshapes Understanding of How the Brain Recovers from Injury](https://www.urmc.rochester.edu/news/story/5519/new-study-reshapes-understanding-of-how-the-brain-recovers-from-injury.aspx)
				h3 A new technique for localizing music in the brain during brain surgery
				:marked
					* [NPR Health: This music teacher played his saxophone while in brain surgery](http://www.npr.org/sections/health-shots/2017/08/25/545710598/this-music-teacher-played-his-saxophone-while-in-brain-surgery)
					* [NBC Health News: Musician plays sax during brain tumor surgery](http://www.nbcnews.com/health/health-news/musician-plays-sax-during-brain-tumor-surgery-n796971)
				details
					summary Show more
					:marked
						* [URMC: A patient plays his saxophone during brain surgery](http://www.urmc.rochester.edu/neurosurgery/news.aspx?start=01-01-2017&amp;end=12-31-2017#newsItem2196)
						* [Democrat and Chronicle: Still on operating table, patient plays sax to show surgery was success](http://www.democratandchronicle.com/story/news/2017/09/02/saxophone-solo-after-brain-surgery-signal-success-rochester/626876001/)
						* [People Magazine: Music teacher played his sax during brain surgery after surgeons save his music function](http://people.com/bodies/music-teacher-plays-saxophone-during-brain-surgery/)
						* [Facebook Seeker: This music teacher is undergoing brain surgery while playing the saxophone](http://www.facebook.com/SeekerMedia/videos/10155327361953387/)
						* [New Atlas: Mid-surgery sax solo sounds success for retaining musical ability](http://newatlas.com/patient-plays-saxophone-brain-surgery/51094/)
				h3 Predicting vision recovery after brain tumor removal
				:marked
					* [URMC: New imaging technique helps predict how vision recovers after brain tumor removal](http://www.rochester.edu/newscenter/myelin-linked-to-speedy-recovery-of-human-visual-system-after-tumor-removal-82512/)
					* [Futurity: Images show how brain heals itself after tumor](http://www.futurity.org/pituitary-brain-tumor-vision-817882/)
				h3 From a stroke to a PhD in 12 years
				:marked
					* [URMC: Student work opens the brain to help surgeons remove tumors](http://www.rochester.edu/newscenter/student-work-opens-brain-surgeons-remove-tumors-262152/)
				details
					summary Show more
					:marked
						* [WHEC News 10: Greece native defends thesis in cognitive neuroscience 12 years after aneurysm](http://www.whec.com/news/university-of-rochester-medical-center-student-research-scientist/4559749/)
						* [URMC: Surviving a stroke propels career in brain research](https://www.urmc.rochester.edu/news/story/5107/surviving-a-stroke-propels-career-in-brain-research.aspx)
				h3 URMC neurosurgery resident wins Cadbury Award
				:marked
					* [Neurosurgery Resident and Former SMD Student David Paul (M.D. ’16) Wins National Cadbury Award for Academic and Volunteer Achievements](https://www.urmc.rochester.edu/news/story/4450/smd-student-david-paul-m.d.-16-wins-national-cadbury-award--for-academic-and-volunteer-achievements.aspx)
	+footer()