include ../partials/_head
include ../partials/_header
include ../partials/_svg
include ../partials/_icon
include ../partials/_footer

+head("Discover | The Open Brain Project", "Opening new frontiers in understanding human brain structure and function.")
body.discover-page
	+header()
	main
		section.page-hero
			.container
				h1 Discover
				p Opening new frontiers in understanding human brain structure and function.
		main.page-content
			section
				.container
	+footer()